Repository docker-mailserver/docker-mailserver, pull requests merged in 2021-11, with the labels that each got.

#2272 chore: Remove invalid/redundant config in Postfix `master.cf`
  target/postfix/master.cf
Labels: priority/low, service/postfix, kind/improvement

#2248 Add aliases to Dovecot's userdb & Adjust the passdb / userdb configuration
  target/dovecot/auth-passwdfile.inc
  target/scripts/helper-functions.sh
  target/scripts/startup/setup-stack.sh
  test/config/dovecot-lmtp/conf.d/auth-passwdfile.conf.ext
  test/config/dovecot-lmtp/conf.d/auth-passwdfile.inc
Labels: priority/medium, service/dovecot, area/scripts, kind/improvement

#2264 fix(listmailuser): Don't query quota, if ENABLE_QUOTAS is not 1
  target/bin/listmailuser
  target/bin/print-environment
  target/scripts/startup/setup-stack.sh
  test/tests.bats
Labels: area/scripts, kind/improvement

#2281 Improve VIRUSMAILS_DELETE_DELAY usage
  Dockerfile
  target/bin/virus-wiper
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2283 Add missing SA variables
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2278 chore: Refactor `setup-stack.sh` case `SSL_TYPE=letsencrypt`
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2284 tests(chore): Adjust supported FQDNs in test certs + add wildcard and `acme.json` configs
  test/test-files/ssl/example.test/README.md
  test/test-files/ssl/example.test/traefik.md
  test/test-files/ssl/example.test/with_ca/ecdsa/ca-cert.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/ca-key.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/cert.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/cert.rsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/ecdsa.acme.json
  test/test-files/ssl/example.test/with_ca/ecdsa/key.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/key.rsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/rsa.acme.json
  test/test-files/ssl/example.test/with_ca/ecdsa/wildcard/cert.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/wildcard/ecdsa.acme.json
  test/test-files/ssl/example.test/with_ca/ecdsa/wildcard/key.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/rsa/ecdsa.acme.json
  test/test-files/ssl/example.test/with_ca/rsa/rsa.acme.json
  test/test-files/ssl/example.test/with_ca/rsa/wildcard/cert.rsa.pem
  test/test-files/ssl/example.test/with_ca/rsa/wildcard/key.rsa.pem
  test/test-files/ssl/example.test/with_ca/rsa/wildcard/rsa.acme.json
Labels: area/security, area/tests, kind/improvement

#2274 refactor: acme.json extraction
  target/bin/acme_extract
  target/scripts/check-for-changes.sh
  target/scripts/helper-functions.sh
  test/mail_ssl_letsencrypt.bats
Labels: kind/bug, area/scripts, kind/improvement

#2287 docs(deps): bump mkdocs-material to 7.3.6
  .github/workflows/scripts/docs/build-docs.sh
Labels: area/ci, area/documentation

#2275 tests(feat): Refactor `test_helper/common.bash` common_container methods
  test/mail_spam_bounced.bats
  test/test_helper/common.bash
Labels: area/tests, kind/improvement

#2279 fix: Monitor for changes in supported letsencrypt locations
  target/scripts/helper-functions.sh
Labels: kind/bug, area/scripts, kind/improvement

#2291 Fix OpenDMARC verification
  target/scripts/startup/setup-stack.sh
Labels: kind/bug, priority/low, area/security

#2294 Remove unnecessary `ls` from debug log
  target/scripts/startup/misc-stack.sh
Labels: priority/low, area/scripts, kind/improvement

#2295 make Bash start user-patches.sh
  target/scripts/startup/setup-stack.sh
Labels: priority/high, area/scripts, kind/improvement

#2297 github(fix): Issues form - Use checkboxes for the experience question
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: kind/improvement, area/configuration file

#2298 improve: sort environment variables
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2300 Add stale bot exception
  .github/workflows/close_stale_issues.yml
Labels: kind/improvement

#2301 Revise workflow for stalled objects
  .github/workflows/handle_stalled.yml
Labels: area/ci, kind/improvement

#2280 refactor: Internal HOSTNAME and DOMAINNAME configuration
  target/scripts/helper-functions.sh
  test/mail_hostname.bats
Labels: area/security, area/scripts

#2286 tests(feat): Complete rewrite of letsencrypt tests
  target/scripts/helper-functions.sh
  test/config/letsencrypt/acme-changed.json
  test/config/letsencrypt/acme.json
  test/config/letsencrypt/changed/cert.pem
  test/config/letsencrypt/changed/fullchain.pem
  test/config/letsencrypt/changed/key.pem
  test/config/letsencrypt/mail.my-domain.com/cert.pem
  test/config/letsencrypt/mail.my-domain.com/chain.pem
  test/config/letsencrypt/mail.my-domain.com/fullchain.pem
  test/config/letsencrypt/mail.my-domain.com/privkey.pem
  test/config/letsencrypt/my-domain.com/cert.pem
  test/config/letsencrypt/my-domain.com/chain.pem
  test/config/letsencrypt/my-domain.com/fullchain.pem
  test/config/letsencrypt/my-domain.com/key.pem
  test/mail_ssl_letsencrypt.bats
  test/test_helper/tls.bash
Labels: area/security, area/tests, kind/improvement

#2302 Housekeeping
  .github/workflows/handle_stalled.yml
  README.md
  target/scripts/startup/setup-stack.sh
Labels: priority/low, kind/improvement

#2260 fix: `check-for-changes.sh` should not fall out of sync with shared logic
  Dockerfile
  target/scripts/check-for-changes.sh
  target/scripts/helper-functions.sh
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/aliases.sh
  target/scripts/helpers/index.sh
  target/scripts/helpers/postfix.sh
  target/scripts/helpers/relay.sh
  target/scripts/helpers/sasl.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  test/linting/lint.sh
  test/mail_changedetector.bats
Labels: priority/medium, area/scripts, kind/improvement

#2304 Fix tiny typo in mailserver.env
  mailserver.env
Labels: priority/low, kind/improvement, area/configuration file

#2303 Add documentation to the usage with Active Directory
  docs/content/config/advanced/auth-ldap.md
Labels: kind/new feature, priority/low, service/ldap, area/documentation

#2306 Rename function and adjust comment
  target/scripts/helper-functions.sh
  target/scripts/helpers/relay.sh
Labels: area/scripts, kind/improvement, meta/feature-freeze

#2299 release: version v10.3.0
  CHANGELOG.md
  VERSION
Labels: priority/high, kind/release

#2308 Update README.md
  README.md
Labels: kind/improvement, area/documentation

#2307 ci: corrected stale message format
  .github/workflows/handle_stalled.yml
Labels: area/ci, priority/low, kind/improvement

#2305 fetchmailrc split: ignore commented lines
  target/bin/fetchmailrc_split
Labels: priority/medium, area/scripts, kind/improvement
