Repository docker-mailserver/docker-mailserver, pull requests merged in 2021-02, with the labels that each got.

#1787 correct application of the new SUPERVISOR_LOGLEVEL variable
  README.md
  target/scripts/start-mailserver.sh
Labels: area/error, area/scripts, kind/bug, pr/need review, priority/medium

#1795 Add PR template
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: area/enhancement, kind/new feature, priority/low

#1792 Support extra user_attributes in accounts configuration
  Makefile
  target/scripts/check-for-changes.sh
  target/scripts/start-mailserver.sh
  test/test-files/email-templates/existing-user3.txt
  test/tests.bats
Labels: area/features, kind/new feature, pr/needs review, priority/low

#1798 Enhancement for function _setup_postfix_sasl fixing #1796 & More
  Dockerfile
  target/scripts/start-mailserver.sh
Labels: area/enhancement, area/scripts, kind/bug, pr/needs review, priority/medium

#1803 Follow up, style enhancement
  target/scripts/start-mailserver.sh
Labels: area/enhancement, area/scripts, priority/low

#1804 Exlude files from triggering workflows
  .github/workflows/default_on_push.yml
  .github/workflows/test_merge_requests.yml
Labels: area/ci, kind/improvement, meta/wip, priority/low

#1805 New approach for .dockerignore
  .dockerignore
Labels: area/enhancement, kind/improvement, priority/low

#1809 patching the delmailuser script to function properly (+ refactoring)
  target/bin/delmailuser
  target/scripts/start-mailserver.sh
Labels: area/enhancement, area/issue, area/scripts, kind/improvement, meta/wip, priority/medium

#1813 Rewrite of `delmailuser` to enable proper account deletion (again)
  setup.sh
  target/bin/delmailuser
Labels: area/issue, area/scripts, kind/bug, pr/needs review, priority/high

#1802 Use best practice cipher suites for 2021
  target/dovecot/10-ssl.conf
  target/postfix/main.cf
  target/scripts/start-mailserver.sh
  test/config/dovecot-lmtp/conf.d/10-ssl.conf
  test/security_tls_cipherlists.bats
  test/test-files/ssl/example.test/README.md
  test/test-files/ssl/example.test/cert.ecdsa.pem
  test/test-files/ssl/example.test/cert.rsa.pem
  test/test-files/ssl/example.test/key.ecdsa.pem
  test/test-files/ssl/example.test/key.rsa.pem
  test/test-files/ssl/example.test/testssl.txt
Labels: area/enhancement, area/security, kind/new feature, priority/medium

#1812 Provide complete refactoring of openDKIM script
  Makefile
  README.md
  setup.sh
  target/bin/generate-dkim-config
  target/bin/open-dkim
  test/default_relay_host.bats
  test/open_dkim.bats
  test/tests.bats
Labels: area/enhancement, area/scripts, kind/improvement, pr/needs review, priority/medium

#1814 re-write setup.sh's help message to use the new style
  README.md
  setup.sh
  test/tests.bats
Labels: area/enhancement, area/scripts, kind/improvement, pr/needs review, priority/low

#1817 fix: dkim help message test
  test/tests.bats
Labels: area/tests, priority/high

#1811 Feat/enable custom dkim selector
  target/bin/open-dkim
  target/scripts/start-mailserver.sh
  test/open_dkim.bats
Labels: area/features, area/scripts, kind/new feature, priority/medium

#1801 Dual certificate support (eg ECDSA with RSA fallback)
  ENVIRONMENT.md
  mailserver.env
  target/dovecot/10-ssl.conf
  target/postfix/main.cf
  target/scripts/start-mailserver.sh
  test/config/dovecot-lmtp/conf.d/10-ssl.conf
  test/mail_ssl_letsencrypt.bats
  test/mail_ssl_manual.bats
  test/security_tls_cipherlists.bats
  test/test-files/ssl/example.test/README.md
  test/test-files/ssl/example.test/with_ca/ecdsa/ca-cert.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/ca-key.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/cert.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/cert.rsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/key.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/ecdsa/key.rsa.pem
  test/test-files/ssl/example.test/with_ca/rsa/ca-cert.rsa.pem
  test/test-files/ssl/example.test/with_ca/rsa/ca-key.rsa.pem
  test/test-files/ssl/example.test/with_ca/rsa/cert.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/rsa/cert.rsa.pem
  test/test-files/ssl/example.test/with_ca/rsa/key.ecdsa.pem
  test/test-files/ssl/example.test/with_ca/rsa/key.rsa.pem
Labels: area/enhancement, kind/new feature, meta/needs triage, meta/wip

#1822 Remove fix-missing
  Dockerfile
Labels: area/enhancement, kind/improvement

#1823 chore: Use consistent `sed` substitution delimiters in `start-mailserver.sh`
  target/scripts/start-mailserver.sh
Labels: area/enhancement, area/scripts, kind/improvement

#1830 Fix REPORT_RECIPIENT=1 behavior
  target/scripts/start-mailserver.sh
Labels: area/issue, area/scripts, kind/bug, priority/medium

#1831 linting: use local scripts to remove sudo need
  .gitignore
  Makefile
  test/linting/lint.sh
Labels: area/ci, area/enhancement, area/scripts, kind/improvement

#1832 install_linters improved
  Makefile
Labels: area/ci, area/enhancement, kind/improvement

#1820 start-mailserver.sh split
  CONTRIBUTING.md
  Dockerfile
  README.md
  setup.sh
  target/bin/addalias
  target/bin/addmailuser
  target/bin/addrelayhost
  target/bin/addsaslpassword
  target/bin/delalias
  target/bin/delquota
  target/bin/listalias
  target/bin/listmailuser
  target/bin/open-dkim
  target/scripts/helper-functions.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/check-stack.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/fixes-stack.sh
  target/scripts/startup/misc-stack.sh
  target/scripts/startup/setup-stack.sh
  test/tests.bats
Labels: area/enhancement, area/scripts, pr/needs review, priority/high

#1835 first (may-be) fixes for v9.0.0 startup problems
  target/scripts/startup/fixes-stack.sh
  target/scripts/startup/setup-stack.sh
Labels: area/issue, kind/bug, meta/needs triage, priority/high

#1836 revamping the notify function
  target/scripts/check-for-changes.sh
  target/scripts/helper-functions.sh
  test/mail_ssl_letsencrypt.bats
Labels: area/enhancement, area/scripts, kind/improvement

#1827 docs: Migrate wiki docs to main repo
  docs/content/advanced/auth-ldap.md
  docs/content/advanced/full-text-search.md
  docs/content/advanced/ipv6.md
  docs/content/advanced/kubernetes.md
  docs/content/advanced/mail-fetchmail.md
  docs/content/advanced/mail-forwarding/aws-ses.md
  docs/content/advanced/mail-forwarding/relay-hosts.md
  docs/content/advanced/mail-sieve.md
  docs/content/advanced/maintenance/update-and-cleanup.md
  docs/content/advanced/optional-config.md
  docs/content/advanced/override-defaults/dovecot.md
  docs/content/advanced/override-defaults/postfix.md
  docs/content/config/best-practices/autodiscover.md
  docs/content/config/best-practices/dkim.md
  docs/content/config/best-practices/dmarc.md
  docs/content/config/best-practices/spf.md
  docs/content/config/pop3.md
  docs/content/config/security/fail2ban.md
  docs/content/config/security/ssl.md
  docs/content/config/security/understanding-the-ports.md
  docs/content/config/setup.sh.md
  docs/content/config/troubleshooting/debugging.md
  docs/content/config/troubleshooting/faq.md
  docs/content/config/user-management/accounts.md
  docs/content/config/user-management/aliases.md
  docs/content/index.md
  docs/content/introduction.md
  docs/content/tutorials/installation-examples.md
  docs/content/uses-cases/forward-only-mailserver-with-ldap-authentication.md
Labels: area/documentation, area/enhancement, kind/improvement, priority/low
