Repository docker-mailserver/docker-mailserver, pull requests merged in 2021-12, with the labels that each got.

#2116 chore(image): Update Debian base image to Debian 11 "Bullseye"
  Dockerfile
Labels: area/ci, priority/low, kind/improvement, stale-bot/ignore

#2316 Added docker to dependabot.yml config
  .github/dependabot.yml
Labels: area/ci, priority/low, kind/improvement

#2292 Disable `service stats` for Dovecot explicitly
  target/dovecot/60-stats.conf
  target/scripts/startup/setup-stack.sh
Labels: priority/low, service/dovecot, kind/improvement, area/configuration file

#2311 docs(deps): bump mkdocs-material to new major version 8
  .github/workflows/scripts/docs/build-docs.sh
  docs/mkdocs.yml
Labels: area/ci, priority/low, kind/improvement, area/documentation

#2324 docs(deps): bump mkdocs-material to v8.1.1
  .github/workflows/scripts/docs/build-docs.sh
Labels: area/ci, priority/low, area/documentation, kind/update

#2326 fix: Restore detection of letsencrypt certificate file changes
  CHANGELOG.md
  target/scripts/check-for-changes.sh
  target/scripts/helper-functions.sh
  test/mail_changedetector.bats
Labels: kind/bug, priority/high, area/security

#2329 Updated ShellCheck to `0.8.0` and Hadolint to `2.8.0`
  .github/workflows/docs-preview-prepare.yml
  .github/workflows/handle_stalled.yml
  .github/workflows/linting.yml
  setup.sh
  target/bin/listmailuser
  target/bin/setquota
  target/scripts/check-for-changes.sh
  target/scripts/helpers/relay.sh
  test/linting/lint.sh
  test/mail_smtponly.bats
  test/permit_docker.bats
  test/tests.bats
Labels: area/ci, priority/low, kind/update

#2336 Removed Dovecot stats configuration for old statistics plugin
  target/dovecot/60-stats.conf
Labels: priority/low, service/dovecot, area/configuration file, kind/bugfix

#2337 ci(fix): Do not trust user controlled input
  .github/workflows/docs-preview-prepare.yml
  .github/workflows/docs-production-deploy.yml
Labels: area/ci, priority/low, priority/medium, area/security, kind/improvement

#2330 Remove quotes to meet style guidelines
  .github/workflows/scripts/docs/update-versions-json.sh
  docs/content/contributing/coding-style.md
  target/bin/addmailuser
  target/bin/delquota
  target/bin/fail2ban
  target/bin/listmailuser
  target/bin/setquota
  target/scripts/helper-functions.sh
  target/scripts/startup/setup-stack.sh
  test/mail_fail2ban.bats
  test/mail_postscreen.bats
  test/security_tls_cipherlists.bats
Labels: priority/low, area/scripts, kind/improvement

#2328 release: version v10.4.0
  CHANGELOG.md
  VERSION
Labels: kind/release

#2341 added `libldap-common` to packages in Dockerfile
  Dockerfile
Labels: priority/high, service/ldap, area/features, kind/bugfix

#2343 Prevent race condition on supervisorctl reload
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/bugfix
