Repository docker-mailserver/docker-mailserver, pull requests merged in 2022-06, with the labels that each got.

#2562 scripts: cover `SASLAUTHD_*` variables in `start-mailserver.sh`
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2604 refactor: Revised `relay.sh` helper
  target/scripts/helpers/relay.sh
Labels: priority/high, service/postfix, area/scripts, area/features, kind/improvement

#2610 chore(housekeeping): Create a helper for change detection functionality
  target/bin/addmailuser
  target/scripts/check-for-changes.sh
  target/scripts/helpers/change-detection.sh
  target/scripts/helpers/index.sh
  target/scripts/helpers/ssl.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  test/test_helper.bats
  test/test_helper/common.bash
Labels: priority/low, area/scripts, kind/improvement

#2608 fix: Only add state of enabled services for volume mount
  target/scripts/startup/misc-stack.sh
Labels: priority/low, area/scripts, service/clamav, kind/improvement

#2607 fix: Opt-out of implicit TLS for Amavis SMTP client transport
  target/postfix/master.cf
Labels: priority/medium, service/postfix, area/security, area/features, kind/bugfix, service/amavis

#2611 chore(housekeeping): Sync dovecot-master-user commands to use new style syntax
  target/bin/adddovecotmasteruser
  target/bin/deldovecotmasteruser
Labels: priority/low, area/scripts, kind/improvement

#2597 service(postfix): Better handling of the `compatibility_level` setting
  target/postfix/main.cf
  target/postfix/master.cf
  target/scripts/startup/setup-stack.sh
  test/tests.bats
Labels: service/postfix, kind/improvement, area/configuration file

#2618 Follow up for #2562
  target/scripts/start-mailserver.sh
Labels: area/scripts, kind/improvement

#2605 refactor: Migrate `SASL_PASSWD` ENV support
  target/scripts/helpers/index.sh
  target/scripts/helpers/relay.sh
  target/scripts/helpers/sasl.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  test/mail_privacy.bats
  test/mail_with_relays.bats
  test/tests.bats
Labels: priority/high, service/postfix, area/scripts, kind/improvement

#2617 fix(listmailuser): Don't parse comments when reading config
  target/bin/listmailuser
  target/scripts/helpers/utils.sh
Labels: priority/high, service/dovecot, area/scripts, kind/bugfix

#2598 scripts: improve custom user-supplied Postfix configuration
  docs/content/config/advanced/override-defaults/postfix.md
  target/scripts/startup/setup-stack.sh
Labels: service/postfix, area/scripts, kind/improvement, area/configuration file

#2619 chore(housekeeping): Normalize how config files filter out unwanted lines
  target/bin/listalias
  target/bin/listdovecotmasteruser
  target/bin/listmailuser
  target/bin/open-dkim
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/aliases.sh
  target/scripts/helpers/relay.sh
  target/scripts/helpers/utils.sh
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2625 Add basic container healthcheck
  docker-compose.yml
  test/tests.bats
Labels: kind/improvement, area/configuration file

#2626 Check if fail2ban is running
  target/bin/fail2ban
Labels: area/scripts, kind/improvement

#2629 tests: Extract `setup.sh` cases to their own test file
  test/setup-cli.bats
  test/test_helper/common.bash
  test/tests.bats
Labels: area/ci, area/tests, kind/improvement, kind/bugfix

#2628 chore: Extract out `/var/mail` ownership workaround
  target/scripts/check-for-changes.sh
  target/scripts/helpers/utils.sh
  target/scripts/startup/fixes-stack.sh
Labels: area/scripts, kind/improvement

#2623 chore(`check-for-changes.sh`): Drop redundant guards
  target/scripts/check-for-changes.sh
  target/scripts/helpers/aliases.sh
  target/scripts/helpers/change-detection.sh
Labels: area/scripts, kind/improvement

#2620 refactor: Share a common helper (vhost builder) for sourcing domains
  target/bin/open-dkim
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/aliases.sh
  target/scripts/helpers/postfix.sh
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2615 refactor: Revise `check-for-changes.sh`
  target/scripts/check-for-changes.sh
  target/scripts/helpers/aliases.sh
Labels: priority/high, area/scripts, kind/improvement

#2641 docs(deps): bump mkdocs-material to v8.3.5
  .github/workflows/scripts/docs/build-docs.sh
Labels: area/ci, area/documentation, kind/update

#2616 fix: Amavis should reload config for `/etc/postfix/vhost` updates
  target/scripts/check-for-changes.sh
Labels: area/security, kind/bugfix, service/amavis

#2640 fix: Dovecot Quota dummy accounts for aliases should check for existing users with an exact user key lookup
  target/scripts/helpers/accounts.sh
Labels: service/dovecot, area/scripts, kind/bugfix

#2638 release: `v11.1.0`
  CHANGELOG.md
  VERSION
Labels: kind/release
