Repository docker-mailserver/docker-mailserver, pull requests merged in 2022-08, with the labels that each got.

#2708 docs: Improve cron tasks and fix link in documentation
  docs/content/config/advanced/full-text-search.md
  docs/content/config/environment.md
  docs/content/faq.md
Labels: kind/improvement, area/documentation

#2728 docs: Fix DMARC link
  docs/content/config/best-practices/dmarc.md
Labels: area/documentation, kind/bugfix, service/dkim-dmarc

#2731 fix: `_create_accounts()` should run after waiting
  target/scripts/startup/setup-stack.sh
Labels: service/dovecot, area/scripts, kind/bugfix

#2716 scripts: rework environment variables setup
  README.md
  docs/content/config/advanced/auth-ldap.md
  docs/content/config/environment.md
  docs/content/contributing/coding-style.md
  docs/content/examples/use-cases/forward-only-mailserver-with-ldap-authentication.md
  mailserver.env
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/dns.sh
  target/scripts/helpers/postfix.sh
  target/scripts/helpers/variables.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  test/mail_with_ldap.bats
Labels: area/scripts, kind/update

#2738 configuration: remove unnecessary files
  config-examples/postfix-accounts.cf
  config-examples/postfix-aliases.cf
  config-examples/postfix-main.cf
  config-examples/postfix-master.cf
  config-examples/postfix-virtual.cf
  config-examples/spamassassin-rules.cf
  config-examples/user-patches.sh
  config-examples/user-patches.sh.dist
  docs/content/config/advanced/override-defaults/user-patches.md
Labels: area/configuration (file), kind/update

#2737 scripts: revised linting script
  .github/workflows/linting.yml
  test/linting/lint.sh
Labels: area/ci, area/scripts, kind/update

#2729 chore: `addmailuser` - Remove delaying completion until `/var/mail` is ready
  target/bin/addmailuser
  test/setup-cli.bats
  test/test_helper/common.bash
  test/tests.bats
Labels: service/dovecot, service/postfix, area/tests, kind/improvement

#2730 tests: Ensure excessive FD limits are avoided
  test/mail_fail2ban.bats
  test/mail_hostname.bats
  test/mail_undef_spam_subject.bats
  test/no_container.bats
  test/tests.bats
Labels: area/tests, service/fail2ban, kind/bugfix

#2742 ci: Better build caching for CI
  .github/workflows/test_merge_requests.yml
  Dockerfile
Labels: area/ci, area/tests, kind/improvement, kind/bugfix

#2746 Remove unnecessary postconf switch '-e' and use single quotes where possible
  target/scripts/helpers/relay.sh
  target/scripts/startup/setup-stack.sh
  test/mail_smtponly.bats
  test/permit_docker.bats
Labels: service/postfix, area/scripts, area/tests, kind/improvement

#2747 Streamline COPY statements in Dockerfile
  Dockerfile
Labels: kind/improvement
