Repository docker-mailserver/docker-mailserver, pull requests merged in 2022-12, with the labels that each got.

#2933 Change OpenDMARC policy default to reject
  target/opendmarc/opendmarc.conf
Labels: kind/improvement, meta/feature-freeze, area/configuration (file), service/dkim-dmarc

#2882 release: v11.3.0
  CHANGELOG.md
  VERSION
Labels: kind/release, stale-bot/ignore

#2903 update: update to latest version of Fail2Ban
  Dockerfile
  target/fail2ban/fail2ban.d/fixes.local
  target/scripts/build/packages.sh
Labels: area/security, service/fail2ban, area/features, kind/update

#2937 Fix dovecot-fts-xapian dependency, when using dovecot community repository
  target/scripts/build/packages.sh
Labels: area/scripts, kind/bugfix

#2943 ci: Drop support for ARM v7 platform
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/generic_build.yml
  .github/workflows/generic_publish.yml
  .github/workflows/scheduled_builds.yml
  .github/workflows/test_merge_requests.yml
Labels: area/ci, kind/improvement, arch/arm64

#2946 chore: Remove legacy ENV `SASL_PASSWD`
  docs/content/config/environment.md
  mailserver.env
  target/scripts/helpers/relay.sh
  test/tests/serial/mail_special_use_folders.bats
  test/tests/serial/mail_undef_spam_subject.bats
  test/tests/serial/mail_with_mdbox.bats
  test/tests/serial/mail_with_sdbox.bats
Labels: service/postfix, area/scripts, kind/improvement, area/configuration (file)

#2947 fix(changedetector): Use service `reload` commands instead of `supervisorctl restart <service>`
  target/scripts/check-for-changes.sh
  test/helper/common.bash
  test/test_helper/common.bash
  test/tests/serial/mail_changedetector.bats
  test/tests/serial/mail_ssl_letsencrypt.bats
  test/tests/serial/setup-cli.bats
Labels: service/dovecot, service/postfix, area/scripts, kind/improvement

#2945 chore: Drop support for deprecated TLS versions
  target/postfix/main.cf
  target/scripts/helpers/ssl.sh
  test/tests/serial/security_tls_cipherlists.bats
Labels: service/dovecot, service/postfix, area/security, area/tests, kind/improvement

#2951 docs(fix): README - Update CI status badge URL
  README.md
Labels: area/documentation
