Repository docker-mailserver/docker-mailserver, pull requests merged in 2022-04, with the labels that each got.

#2519 add compatibility for Bash 4 to setup.sh
  setup.sh
Labels: area/scripts, kind/improvement

#2511 tests: disabled "quota exceeded" test
  test/tests.bats
Labels: area/ci, kind/bugfix

#2521 fix: typo in setup-stack.sh
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2507 scripts: introduce `_log` to `sedfile`
  Dockerfile
  target/bin/sedfile
  test/sedfile.bats
Labels: area/scripts, kind/improvement

#2512 create `.github/FUNDING.yml`
  .github/FUNDING.yml
Labels: kind/new feature

#2498 scripts: refactored `check-for-changes.sh`
  target/scripts/check-for-changes.sh
  target/scripts/helpers/log.sh
  test/mail_ssl_letsencrypt.bats
  test/mail_ssl_manual.bats
Labels: area/scripts, kind/improvement

#2523 scripts: remove `DMS_DEBUG`
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  docs/content/config/advanced/auth-ldap.md
  docs/content/config/advanced/kubernetes.md
  docs/content/config/environment.md
  docs/content/config/troubleshooting/debugging.md
  docs/content/contributing/issues-and-pull-requests.md
  docs/content/examples/tutorials/basic-installation.md
  mailserver.env
  target/scripts/start-mailserver.sh
  test/default_relay_host.bats
  test/helper-functions.bats
  test/mail_changedetector.bats
  test/mail_disabled_clamav_spamassassin.bats
  test/mail_fetchmail.bats
  test/mail_fetchmail_parallel.bats
  test/mail_hostname.bats
  test/mail_lmtp_ip.bats
  test/mail_pop3.bats
  test/mail_privacy.bats
  test/mail_quotas_disabled.bats
  test/mail_smtponly.bats
  test/mail_special_use_folders.bats
  test/mail_ssl_letsencrypt.bats
  test/mail_ssl_manual.bats
  test/mail_tls_dhparams.bats
  test/mail_undef_spam_subject.bats
  test/mail_with_imap.bats
  test/mail_with_ldap.bats
  test/mail_with_mdbox.bats
  test/mail_with_postgrey.bats
  test/mail_with_postgrey_disabled_by_default.bats
  test/mail_with_relays.bats
  test/mail_with_sdbox.bats
  test/open_dkim.bats
  test/permit_docker.bats
  test/security_tls_cipherlists.bats
  test/tests.bats
Labels: area/scripts, kind/update

#2505 firewall: replace `iptables` with `nftables`
  Dockerfile
  config-examples/fail2ban-jail.cf
  docs/content/config/environment.md
  docs/content/config/security/fail2ban.md
  mailserver.env
  target/bin/fail2ban
  target/fail2ban/jail.local
  target/scripts/startup/setup-stack.sh
  test/config/fail2ban-jail.cf
  test/mail_fail2ban.bats
Labels: priority/high, priority/medium, area/security, kind/update

#2530 scripts: added `TZ` environment variable to set timezone
  docs/content/config/environment.md
  mailserver.env
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  test/mail_time.bats
Labels: kind/new feature, area/scripts

#2531 setup: added grace period for account creation
  README.md
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2525 refactor: letsencrypt implicit location discovery
  target/scripts/check-for-changes.sh
  target/scripts/helpers/ssl.sh
  test/mail_ssl_letsencrypt.bats
  test/test_helper/tls.bash
Labels: area/scripts, kind/improvement

#2540 setup.sh/setup: show usage when no argument is given
  setup.sh
  target/bin/setup
  test/tests.bats
Labels: area/scripts, kind/improvement

#2541 Dockerfile: Remove not needed ENVs and add comment
  Dockerfile
Labels: kind/improvement

#2538 Add ban feature to fail2ban script
  config-examples/fail2ban-jail.cf
  docs/content/config/security/fail2ban.md
  docs/content/config/setup.sh.md
  docs/content/faq.md
  target/bin/fail2ban
  target/bin/setup
  target/fail2ban/jail.local
  target/scripts/startup/setup-stack.sh
  test/mail_fail2ban.bats
Labels: kind/new feature, area/scripts, service/fail2ban

#2548 Fix changedetector restart loop
  target/scripts/check-for-changes.sh
  target/scripts/helpers/error.sh
  target/supervisor/conf.d/supervisor-app.conf
Labels: kind/bugfix

#2556 chore: Drop `setup.sh` DATABASE fallback ENV
  target/bin/addalias
  target/bin/addmailuser
  target/bin/addrelayhost
  target/bin/addsaslpassword
  target/bin/delalias
  target/bin/delmailuser
  target/bin/delquota
  target/bin/excluderelaydomain
  target/bin/listalias
  target/bin/setquota
  target/bin/updatemailuser
Labels: area/scripts

#2558 Update faq.md
  docs/content/faq.md
Labels: kind/improvement, area/documentation

#2563 Don't issue warning when DKIM is not used
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement
