Repository docker-mailserver/docker-mailserver, pull requests merged in 2022-07, with the labels that each got.

#2681 docs(fix): Update to fix regression causing broken links
  .github/workflows/scripts/docs/build-docs.sh
Labels: priority/high, area/documentation, kind/bugfix

#2696 docs: update and improve K8s documentation
  docs/content/config/advanced/kubernetes.md
  target/scripts/helpers/dns.sh
Labels: kind/improvement, area/documentation, orchestrator/kubernetes

#2701 Set configomat output to loglevel debug
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2654 refactor: CLI commands for database management
  target/bin/addalias
  target/bin/adddovecotmasteruser
  target/bin/addmailuser
  target/bin/addrelayhost
  target/bin/addsaslpassword
  target/bin/delalias
  target/bin/deldovecotmasteruser
  target/bin/delmailuser
  target/bin/delquota
  target/bin/excluderelaydomain
  target/bin/listalias
  target/bin/listdovecotmasteruser
  target/bin/listmailuser
  target/bin/setquota
  target/bin/updatedovecotmasteruser
  target/bin/updatemailuser
  target/scripts/helpers/database/db.sh
  target/scripts/helpers/database/manage/dovecot-quotas.sh
  target/scripts/helpers/database/manage/postfix-accounts.sh
  target/scripts/helpers/database/manage/postfix-virtual.sh
  target/scripts/helpers/index.sh
  test/tests.bats
Labels: priority/low, service/dovecot, service/postfix, area/scripts, kind/improvement, area/configuration (file), kind/bugfix

#2703 Simplify fail2ban output
  target/bin/fail2ban
Labels: area/scripts, kind/bugfix
