Repository docker-mailserver/docker-mailserver, pull requests merged in 2022-09, with the labels that each got.

#2754 scripts: improve `helpers/log.sh`
  target/scripts/helpers/log.sh
Labels: area/scripts, kind/improvement

#2691 Add `reject_unknown_client_hostname` to main.cf
  target/postfix/main.cf
Labels: priority/low, service/postfix, kind/improvement, area/configuration (file)

#2753 ci: improve GitHub Action CI with re-usable workflows
  .github/workflows/default_on_push.yml
  .github/workflows/generic_build.yml
  .github/workflows/generic_publish.yml
  .github/workflows/generic_test.yml
  .github/workflows/scheduled_builds.yml
  .github/workflows/test_merge_requests.yml
Labels: area/ci, kind/improvement

#2776 Only calculate checksums, when there are files to monitor.
  target/scripts/helpers/change-detection.sh
  test/mail_smtponly.bats
Labels: area/scripts, area/tests, kind/bugfix

#2777 tests: Wait at least 30 seconds before checking the health state of the container
  test/tests.bats
Labels: area/tests, kind/bugfix

#2782 docs: fix typo in podman.md
  docs/content/config/advanced/podman.md
Labels: kind/improvement, area/documentation

#2755 ci: enhance build process
  .github/workflows/generic_publish.yml
  Dockerfile
  Makefile
  target/scripts/build/packages.sh
  test/linting/.hadolint.yaml
Labels: area/ci, priority/high, priority/medium, area/scripts, kind/improvement

#2785 fix: adjusting semver tag of a step in publish workflow
  .github/workflows/generic_build.yml
  .github/workflows/generic_publish.yml
Labels: area/ci, priority/high, kind/bugfix

#2789 docs: update contributing documentation
  docs/content/contributing/coding-style.md
  docs/content/contributing/documentation.md
  docs/content/contributing/general.md
  docs/content/contributing/issues-and-pull-requests.md
  docs/content/contributing/tests.md
  docs/mkdocs.yml
Labels: kind/improvement, area/documentation

#2799 docs: add note about Docker version when building
  docs/content/examples/tutorials/docker-build.md
Labels: kind/improvement, area/documentation

#2796 #2755 follow up; bring back fail2ban package installation
  target/scripts/build/packages.sh
Labels: area/scripts, service/fail2ban, kind/improvement

#2797 Add ability to build with Dovecot community repository
  Dockerfile
  target/scripts/build/packages.sh
Labels: area/ci, service/dovecot, area/scripts, kind/improvement

#2805 Dockerfile: use heredocs
  Dockerfile
Labels: area/ci, kind/improvement
