Repository docker-mailserver/docker-mailserver, pull requests merged in 2022-03, with the labels that each got.

#2431 release: version `v10.5.0`
  CHANGELOG.md
  VERSION
Labels: priority/high, kind/release

#2434 tests: remove legacy functions / tests
  test/helper-functions.bats
  test/mail_changedetector.bats
  test/mail_disabled_clamav_spamassassin.bats
  test/mail_fail2ban.bats
  test/mail_fetchmail.bats
  test/mail_fetchmail_parallel.bats
  test/mail_hostname.bats
  test/mail_lmtp_ip.bats
  test/mail_pop3.bats
  test/mail_postscreen.bats
  test/mail_privacy.bats
  test/mail_quotas_disabled.bats
  test/mail_smtponly.bats
  test/mail_spam_bounced.bats
  test/mail_special_use_folders.bats
  test/mail_ssl_letsencrypt.bats
  test/mail_ssl_manual.bats
  test/mail_tls_dhparams.bats
  test/mail_with_imap.bats
  test/mail_with_ldap.bats
  test/mail_with_mdbox.bats
  test/mail_with_postgrey.bats
  test/mail_with_relays.bats
  test/mail_with_sdbox.bats
  test/open_dkim.bats
  test/security_tls_cipherlists.bats
  test/test_helper/common.bash
  test/tests.bats
Labels: area/tests, kind/improvement

#2424 PERMIT_DOCKER=none as new default value
  docs/content/config/environment.md
  mailserver.env
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  test/mail_lmtp_ip.bats
  test/mail_pop3.bats
  test/mail_spam_bounced.bats
  test/mail_spam_junk_folder.bats
  test/mail_ssl_letsencrypt.bats
  test/mail_with_imap.bats
  test/mail_with_ldap.bats
  test/mail_with_postgrey.bats
  test/tests.bats
Labels: service/postfix, area/scripts, kind/improvement, area/documentation

#2428 Adjust envrionment variables - more sensible defaults
  docs/content/config/environment.md
  mailserver.env
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  test/mail_with_ldap.bats
  test/tests.bats
Labels: priority/low, priority/medium, area/scripts, kind/improvement

#2448 macos support: lint.sh doesn't find proper bash under /usr/local/bin + acme_extract (python) is trying to be shellchecked
  test/linting/lint.sh
Labels: area/scripts, kind/bugfix

#2438 Rename config examples directory
  config-examples/dovecot-quotas.cf
  config-examples/dovecot.cf
  config-examples/fail2ban-fail2ban.cf
  config-examples/fail2ban-jail.cf
  config-examples/fetchmail.cf
  config-examples/postfix-accounts.cf
  config-examples/postfix-aliases.cf
  config-examples/postfix-main.cf
  config-examples/postfix-master.cf
  config-examples/postfix-virtual.cf
  config-examples/spamassassin-rules.cf
  config-examples/user-patches.sh.dist
  docs/content/config/advanced/override-defaults/user-patches.md
  docs/content/config/security/fail2ban.md
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/aliases.sh
  target/scripts/helpers/dns.sh
  target/scripts/helpers/error.sh
  target/scripts/helpers/index.sh
  target/scripts/helpers/log.sh
  target/scripts/helpers/network.sh
  target/scripts/helpers/postfix.sh
  target/scripts/helpers/relay.sh
  target/scripts/helpers/sasl.sh
  target/scripts/helpers/ssl.sh
  target/scripts/helpers/utils.sh
Labels: kind/improvement, area/configuration file

#2446 [docs] faq.md: update naked/bare domain section
  docs/content/faq.md
Labels: kind/improvement, area/documentation

#2454 setup.sh: Remove obsolete 'debug inspect' command from usage text
  docs/content/config/setup.sh.md
  target/bin/setup
Labels: area/scripts, kind/bugfix

#2453 Introduce CLAMAV_MESSAGE_SIZE_LIMIT env
  docs/content/config/environment.md
  docs/content/faq.md
  mailserver.env
  target/scripts/start-mailserver.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/setup-stack.sh
  test/mail_disabled_clamav_spamassassin.bats
  test/test_helper.bats
  test/tests.bats
Labels: kind/new feature, area/scripts

#2456 fix: remove SA reload for KAM
  target/scripts/startup/setup-stack.sh
Labels: priority/medium, area/scripts, kind/bugfix

#2469 docs: Enhance logrotate description
  docs/content/config/environment.md
  mailserver.env
Labels: kind/improvement, area/documentation

#2466 Remove macOS specific code / support + shellcheck should avoid python, regardless of permissions
  docs/content/contributing/tests.md
  setup.sh
  target/bin/acme_extract.py
  target/bin/print-environment
  target/bin/setup
  target/scripts/helpers/ssl.sh
  test/linting/lint.sh
Labels: priority/medium, area/scripts, area/tests, area/documentation, os/macOS, kind/update

#2484 docs: Update fail2ban.md
  docs/content/config/security/fail2ban.md
Labels: area/documentation, kind/bugfix

#2479 Makefile: Remove backup/restore of obsolete config directory
  Makefile
Labels: kind/bugfix

#2485 scripts: small refactorings
  .github/ISSUE_TEMPLATE/bug_report.yml
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  test/mail_special_use_folders.bats
  test/mail_ssl_manual.bats
Labels: area/scripts, kind/improvement, kind/update

#2468 Building on Ubuntu 21.10 failing to install postfix
  Dockerfile
Labels: area/ci, kind/bugfix

#2487 Use FQDN as REPORT_SENDER default value.
  target/scripts/start-mailserver.sh
  test/mail_with_ldap.bats
Labels: area/scripts, kind/bugfix

#2492 Improve test, get rid of sleep
  test/mail_ssl_manual.bats
Labels: area/tests, kind/improvement

#2493 scripts: new log
  docs/content/config/environment.md
  docs/content/contributing/coding-style.md
  mailserver.env
  target/bin/print-environment
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/aliases.sh
  target/scripts/helpers/error.sh
  target/scripts/helpers/lock.sh
  target/scripts/helpers/log.sh
  target/scripts/helpers/relay.sh
  target/scripts/helpers/ssl.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/check-stack.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/fixes-stack.sh
  target/scripts/startup/misc-stack.sh
  target/scripts/startup/setup-stack.sh
  test/mail_changedetector.bats
  test/mail_ssl_letsencrypt.bats
Labels: kind/new feature, area/scripts, kind/update

#2494 Restart supervisord early
  target/scripts/start-mailserver.sh
Labels: area/scripts, kind/improvement

#2497 scripts: renamed function `_errex` -> `_exit_with_error`
  target/bin/addalias
  target/bin/addmailuser
  target/bin/addrelayhost
  target/bin/addsaslpassword
  target/bin/delalias
  target/bin/delmailuser
  target/bin/delquota
  target/bin/excluderelaydomain
  target/bin/fail2ban
  target/bin/listalias
  target/bin/listmailuser
  target/bin/postfix-summary
  target/bin/report-pflogsumm-yesterday
  target/bin/restrict-access
  target/bin/setquota
  target/bin/updatemailuser
  target/scripts/helpers/error.sh
  target/scripts/helpers/lock.sh
Labels: area/scripts, kind/update

#2500 scripts: refactored scripts located under `target/bin/`
  target/bin/addmailuser
  target/bin/delalias
  target/bin/delmailuser
  target/bin/delquota
  target/bin/excluderelaydomain
  target/bin/fail2ban
  target/bin/fetchmailrc_split
  target/bin/listalias
  target/bin/listmailuser
  target/bin/open-dkim
  target/bin/postfix-summary
  target/bin/report-pflogsumm-yesterday
  target/bin/restrict-access
  target/bin/sedfile
  target/bin/setquota
  target/bin/updatemailuser
  target/scripts/helpers/lock.sh
  test/mail_fail2ban.bats
  test/open_dkim.bats
  test/sedfile.bats
  test/tests.bats
Labels: area/scripts, kind/improvement

#2499 scripts: refactoring & miscellaneous small changes
  target/scripts/helpers/error.sh
  target/scripts/helpers/log.sh
  target/scripts/startup/setup-stack.sh
  target/scripts/update-check.sh
Labels: area/scripts, kind/improvement

#2496 scripts: refactored `daemon-stack.sh`
  target/bin/debug-fetchmail
  target/bin/fetchmailrc_split
  target/bin/setup-fetchmail
  target/scripts/start-mailserver.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#2516 docs(deps): bump mkdocs-material to v8.2.8
  .github/workflows/scripts/docs/build-docs.sh
Labels: area/ci, priority/low, kind/improvement, area/documentation
