Repository docker-mailserver/docker-mailserver, pull requests merged in 2022-05, with the labels that each got.

#2561 Remove unnecessary quotes from command substitutions
  Dockerfile
  setup.sh
  target/bin/addmailuser
  target/bin/updatemailuser
  target/scripts/check-for-changes.sh
  target/scripts/helpers/dns.sh
  target/scripts/helpers/lock.sh
  target/scripts/helpers/ssl.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/setup-stack.sh
  test/default_relay_host.bats
  test/dovecot_inet_protocol.bats
  test/helper-functions.bats
  test/linting/lint.sh
  test/mail_changedetector.bats
  test/mail_disabled_clamav_spamassassin.bats
  test/mail_dnsbl.bats
  test/mail_fail2ban.bats
  test/mail_fetchmail.bats
  test/mail_fetchmail_parallel.bats
  test/mail_hostname.bats
  test/mail_lmtp_ip.bats
  test/mail_pop3.bats
  test/mail_postfix_inet.bats
  test/mail_postscreen.bats
  test/mail_privacy.bats
  test/mail_quotas_disabled.bats
  test/mail_smtponly.bats
  test/mail_spam_junk_folder.bats
  test/mail_special_use_folders.bats
  test/mail_ssl_manual.bats
  test/mail_time.bats
  test/mail_tls_dhparams.bats
  test/mail_undef_spam_subject.bats
  test/mail_with_imap.bats
  test/mail_with_ldap.bats
  test/mail_with_mdbox.bats
  test/mail_with_postgrey.bats
  test/mail_with_postgrey_disabled_by_default.bats
  test/mail_with_sdbox.bats
  test/open_dkim.bats
  test/permit_docker.bats
  test/security_tls_cipherlists.bats
  test/test_helper.bats
  test/test_helper/common.bash
  test/tests.bats
Labels: area/scripts, kind/improvement

#2569 Run sedfile tests in container
  target/bin/sedfile
  test/sedfile.bats
Labels: area/tests, kind/improvement

#2564 Streamline 'printf' usage and consequently use a format string
  setup.sh
  target/scripts/startup/setup-stack.sh
  test/mail_ssl_manual.bats
Labels: area/scripts, kind/improvement

#2535 Added ability to configure dovecot master accounts
  .gitignore
  Dockerfile
  Makefile
  docs/content/config/advanced/dovecot-master-accounts.md
  docs/mkdocs.yml
  target/bin/adddovecotmasteruser
  target/bin/deldovecotmasteruser
  target/bin/listdovecotmasteruser
  target/bin/setup
  target/bin/updatedovecotmasteruser
  target/dovecot/10-auth.conf
  target/dovecot/auth-master.inc
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/ssl.sh
  test/mail_ssl_letsencrypt.bats
  test/mail_with_imap.bats
Labels: kind/new feature, service/dovecot, area/features

#2565 Use color variables instead of escape codes
  target/bin/addalias
  target/bin/addmailuser
  target/bin/addrelayhost
  target/bin/delmailuser
  target/bin/open-dkim
  target/bin/setup
  target/scripts/helpers/log.sh
Labels: area/scripts, kind/improvement

#2555 chore: Set permissions for GitHub actions
  .github/workflows/default_on_push.yml
  .github/workflows/docs-preview-prepare.yml
  .github/workflows/docs-production-deploy.yml
  .github/workflows/handle_stalled.yml
  .github/workflows/linting.yml
  .github/workflows/scheduled_builds.yml
  .github/workflows/test_merge_requests.yml
Labels: area/ci, priority/high, area/security, kind/improvement

#2589 documentation: `DOCKER_HOST` missing `unix://`
  docs/content/config/advanced/podman.md
Labels: kind/improvement, area/documentation

#2588 scripts: loglevel warning message fix
  target/scripts/startup/check-stack.sh
Labels: area/scripts, kind/bugfix

#2587 scripts: more consistency in `start-mailserver.sh`
  target/scripts/start-mailserver.sh
  target/scripts/startup/check-stack.sh
  target/scripts/startup/fixes-stack.sh
  target/scripts/startup/misc-stack.sh
  target/scripts/startup/setup-stack.sh
Labels: priority/low, area/scripts, kind/improvement

#2595 documentation: DOCKER_HOST missing unix://
  docs/content/config/advanced/podman.md
Labels: area/documentation, kind/bugfix

#2591 scripts: fix error message caused by `grep` on first starts
  target/scripts/startup/setup-stack.sh
Labels: priority/low, area/scripts, kind/bugfix

#2606 tests(fix): Adjust for local testing conditions
  test/default_relay_host.bats
  test/dovecot_inet_protocol.bats
  test/helper-functions.bats
  test/mail_changedetector.bats
  test/mail_disabled_clamav_spamassassin.bats
  test/mail_dnsbl.bats
  test/mail_fail2ban.bats
  test/mail_fetchmail.bats
  test/mail_fetchmail_parallel.bats
  test/mail_hostname.bats
  test/mail_lmtp_ip.bats
  test/mail_pop3.bats
  test/mail_postfix_inet.bats
  test/mail_postscreen.bats
  test/mail_privacy.bats
  test/mail_quotas_disabled.bats
  test/mail_smtponly.bats
  test/mail_spam_bounced.bats
  test/mail_spam_junk_folder.bats
  test/mail_special_use_folders.bats
  test/mail_ssl_manual.bats
  test/mail_time.bats
  test/mail_tls_dhparams.bats
  test/mail_undef_spam_subject.bats
  test/mail_with_imap.bats
  test/mail_with_ldap.bats
  test/mail_with_mdbox.bats
  test/mail_with_postgrey.bats
  test/mail_with_postgrey_disabled_by_default.bats
  test/mail_with_relays.bats
  test/mail_with_sdbox.bats
  test/open_dkim.bats
  test/permit_docker.bats
  test/security_tls_cipherlists.bats
  test/sedfile.bats
  test/test_helper.bats
  test/test_helper/common.bash
  test/tests.bats
Labels: priority/low, area/tests, kind/improvement, kind/bugfix
