Repository docker-mailserver/docker-mailserver, pull requests merged in 2023-08, with the labels that each got.

#3453 Rspamd: local network addition and user name mismatch
  target/bin/rspamd-dkim
  target/rspamd/local.d/options.inc
Labels: area/configuration (file), service/security/rspamd

#3440 rspamd: disable checks for authenticated users
  docs/content/config/environment.md
  docs/content/config/security/rspamd.md
  mailserver.env
  target/rspamd/local.d/settings.conf
  target/scripts/startup/setup.d/security/rspamd.sh
  target/scripts/startup/variables-stack.sh
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
  test/tests/parallel/set1/spam_virus/rspamd_partly.bats
Labels: kind/new feature, area/features, service/security/rspamd

#3483 tests: Refactor LDAP tests to current conventions
  test/config/ldap/docker-openldap/Dockerfile
  test/config/ldap/docker-openldap/bootstrap/ldif/01_mail-tree.ldif
  test/config/ldap/docker-openldap/bootstrap/ldif/02_user-email.ldif
  test/config/ldap/docker-openldap/bootstrap/ldif/03_user-email-other-primary-domain.ldif
  test/config/ldap/docker-openldap/bootstrap/ldif/04_user-email-different-uid.ldif
  test/config/ldap/docker-openldap/bootstrap/schema/mmc/postfix-book.schema
  test/config/ldap/overrides/ldap-aliases.cf
  test/config/ldap/overrides/ldap-groups.cf
  test/config/ldap/overrides/ldap-users.cf
  test/tests/serial/mail_with_ldap.bats
Labels: area/tests, service/ldap, kind/improvement

#3489 feat: Allow marking spam as read via a sieve filter (ENV `MARK_SPAM_AS_READ=1`)
  CHANGELOG.md
  docs/content/config/environment.md
  docs/content/config/security/rspamd.md
  mailserver.env
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/security/misc.sh
  target/scripts/startup/variables-stack.sh
  test/tests/parallel/set1/spam_virus/spam_junk_folder.bats
Labels: kind/new feature, service/dovecot, area/scripts, area/tests, area/features, kind/improvement, area/configuration (file)

#3496 Docs: Drop mention of port 25 support for authenticated submission
  docs/content/faq.md
Labels: area/security, kind/improvement, area/documentation, area/networking

#3484 scripts: add wrapper to update Postfix configuration safely
  target/scripts/helpers/aliases.sh
  target/scripts/helpers/postfix.sh
  target/scripts/helpers/relay.sh
  target/scripts/helpers/utils.sh
  target/scripts/startup/setup.d/dmarc_dkim_spf.sh
  target/scripts/startup/setup.d/security/rspamd.sh
Labels: area/scripts, area/configuration (file), kind/bug/fix

#3494 tests: Change OpenLDAP image to `bitnami/openldap`
  test/config/ldap/docker-openldap/Dockerfile
  test/config/ldap/docker-openldap/bootstrap/ldif/01_mail-tree.ldif
  test/config/ldap/docker-openldap/bootstrap/ldif/02_user-email.ldif
  test/config/ldap/docker-openldap/bootstrap/ldif/03_user-email-other-primary-domain.ldif
  test/config/ldap/docker-openldap/bootstrap/ldif/04_user-email-different-uid.ldif
  test/config/ldap/docker-openldap/bootstrap/schema/mmc/postfix-book.schema
  test/config/ldap/docker-openldap/bootstrap/schemas/postfix-book.ldif
  test/tests/serial/mail_with_ldap.bats
Labels: area/tests, service/ldap, kind/improvement

#3498 ci: `question.yml` - Clarify that the issue tracker is not for personal support
  .github/ISSUE_TEMPLATE/question.yml
Labels: area/ci, kind/improvement

#3502 ci: Fix `question.yml` template - `value` should be an attribute
  .github/ISSUE_TEMPLATE/question.yml
Labels: area/ci, kind/bug/fix

#3504 tests: TLS cipher suites - Update `testssl.sh` tag to `3.2`
  test/tests/parallel/set2/tls_cipherlists.bats
Labels: service/dovecot, service/postfix, area/security, area/tests, kind/improvement

#3503 scripts: add wrapper to update Postfix configuration safely (follow up)
  target/scripts/helpers/postfix.sh
  target/scripts/helpers/utils.sh
Labels: area/scripts, kind/improvement

#3508 chore: Change `setup config dkim` default key size to `2048` (`open-dkim`)
  docs/content/config/best-practices/dkim_dmarc_spf.md
  target/bin/open-dkim
  target/bin/rspamd-dkim
  test/tests/parallel/set1/spam_virus/rspamd_dkim.bats
  test/tests/parallel/set3/scripts/setup_cli.bats
  test/tests/serial/open_dkim.bats
Labels: area/security, area/scripts, area/documentation, kind/update, service/security/dkim-dmarc-spf

#3507 chore: Adapt `ENABLE_LDAP=1` to `ACCOUNT_PROVISIONER=LDAP`
  CHANGELOG.md
  docs/content/config/advanced/auth-ldap.md
  docs/content/config/environment.md
  docs/content/examples/use-cases/forward-only-mailserver-with-ldap-authentication.md
  mailserver.env
  target/scripts/startup/variables-stack.sh
Labels: service/ldap, area/configuration (file), kind/update

#3516 docs: Update docs builder image
  .github/workflows/scripts/docs/build-docs.sh
Labels: area/ci, area/documentation, kind/update

#3514 tests: Revise LDAP config + setup
  test/config/ldap/openldap/ldifs/01_mail-tree.ldif
  test/config/ldap/openldap/ldifs/02_user-email.ldif
  test/config/ldap/openldap/ldifs/03_user-email-other-primary-domain.ldif
  test/config/ldap/openldap/ldifs/04_user-email-different-uid.ldif
  test/config/ldap/openldap/schemas/postfix-book.ldif
  test/config/ldap/overrides/ldap-aliases.cf
  test/config/ldap/overrides/ldap-groups.cf
  test/config/ldap/overrides/ldap-users.cf
  test/tests/serial/mail_with_ldap.bats
Labels: area/tests, service/ldap, kind/update

#3513 Add documentation for iOS mail push support
  docs/content/examples/use-cases/ios-mail-push-support.md
  docs/mkdocs.yml
Labels: kind/new feature, service/dovecot, area/features, area/documentation
