Repository docker-mailserver/docker-mailserver, pull requests merged in 2023-04, with the labels that each got.

#3225 GitHub/CI: issue templates improvements
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/questions.md
Labels: area/ci, kind/improvement, pr/waiting for other PR to get merged

#3229 gh/CI: follow-up to #3225
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yml
Labels: area/ci, kind/improvement

#3219 docs: miscellaneous improvements
  .github/workflows/scripts/docs/build-docs.sh
  README.md
  docs/content/config/advanced/auth-ldap.md
  docs/content/config/advanced/full-text-search.md
  docs/content/config/advanced/kubernetes.md
  docs/content/config/advanced/override-defaults/user-patches.md
  docs/content/config/debugging.md
  docs/content/config/environment.md
  docs/content/config/security/mail_crypt.md
  docs/content/config/security/ssl.md
  docs/content/config/security/understanding-the-ports.md
  docs/content/config/setup.sh.md
  docs/content/config/troubleshooting/debugging.md
  docs/content/config/user-management/accounts.md
  docs/content/examples/tutorials/basic-installation.md
  docs/content/examples/tutorials/docker-build.md
  docs/content/examples/tutorials/mailserver-behind-proxy.md
  docs/content/examples/use-cases/imap-folders.md
  docs/content/faq.md
  docs/content/index.md
  docs/content/introduction.md
  docs/content/usage.md
  docs/mkdocs.yml
Labels: kind/improvement, area/documentation

#3230 chore: Remove `domainname` field from example compose
  docker-compose.yml
Labels: kind/improvement, area/documentation, area/configuration (file)

#3236 docs: add a note about TLS to "Usage" page
  docs/content/usage.md
Labels: kind/improvement, area/documentation

#3232 docs: compress & improve user management docs
  docs/content/config/advanced/optional-config.md
  docs/content/config/environment.md
  docs/content/config/security/understanding-the-ports.md
  docs/content/config/user-management.md
  docs/content/config/user-management/accounts.md
  docs/content/config/user-management/aliases.md
  docs/content/usage.md
  docs/mkdocs.yml
Labels: kind/improvement, area/documentation, kind/update

#3234 docs: update docs that cite compose files
  docs/content/config/advanced/full-text-search.md
  docs/content/config/advanced/ipv6.md
  docs/content/config/environment.md
  docs/content/config/security/ssl.md
  docs/content/examples/tutorials/mailserver-behind-proxy.md
  docs/content/faq.md
Labels: area/documentation, kind/update

#3146 release: v12.0.0
  CHANGELOG.md
  VERSION
Labels: priority/high, kind/release

#3233 Image registry and setup update
  docker-compose.yml
  docs/content/config/setup.sh.md
  docs/content/examples/tutorials/basic-installation.md
  docs/content/usage.md
  docs/mkdocs.yml
  setup.sh
  target/bin/setup
  test/tests/parallel/set3/scripts/setup_cli.bats
Labels: area/scripts, area/documentation, kind/update

#3241 fix: GH docs update workflow
  .github/workflows/docs-production-deploy.yml
Labels: area/ci, priority/high, area/documentation, kind/bug/fix

#3231 docs: update DKIM/DMARC/SPF docs
  docs/content/config/advanced/optional-config.md
  docs/content/config/best-practices/autodiscover.md
  docs/content/config/best-practices/dkim.md
  docs/content/config/best-practices/dkim_dmarc_spf.md
  docs/content/config/best-practices/dmarc.md
  docs/content/config/best-practices/spf.md
  docs/content/config/security/rspamd.md
  docs/content/examples/tutorials/basic-installation.md
  docs/content/usage.md
  docs/mkdocs.yml
Labels: kind/improvement, area/documentation, kind/update

#3242 docs: renamings
  docs/content/config/advanced/auth-ldap.md
  docs/content/config/advanced/full-text-search.md
  docs/content/config/advanced/ipv6.md
  docs/content/config/advanced/kubernetes.md
  docs/content/config/advanced/mail-fetchmail.md
  docs/content/config/advanced/override-defaults/dovecot.md
  docs/content/config/advanced/override-defaults/user-patches.md
  docs/content/config/advanced/podman.md
  docs/content/config/best-practices/autodiscover.md
  docs/content/config/best-practices/dkim_dmarc_spf.md
  docs/content/config/environment.md
  docs/content/config/security/fail2ban.md
  docs/content/config/security/ssl.md
  docs/content/config/security/understanding-the-ports.md
  docs/content/config/setup.sh.md
  docs/content/contributing/issues-and-pull-requests.md
  docs/content/examples/tutorials/basic-installation.md
  docs/content/examples/tutorials/blog-posts.md
  docs/content/examples/tutorials/mailserver-behind-proxy.md
  docs/content/examples/use-cases/forward-only-mailserver-with-ldap-authentication.md
  docs/content/faq.md
  docs/content/index.md
  docs/content/introduction.md
  docs/content/usage.md
Labels: kind/improvement, area/documentation

#3246 scripts: make `policyd-spf` configurable
  docs/content/config/environment.md
  mailserver.env
  target/postfix/master.cf
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/dmarc_dkim_spf.sh
  target/scripts/startup/variables-stack.sh
Labels: kind/new feature, area/features, service/security/dkim-dmarc-spf

#3206 Rspamd: add greylisting option & code refactoring
  docs/content/config/environment.md
  docs/content/config/security/rspamd.md
  mailserver.env
  target/rspamd/local.d/greylist.conf
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  target/scripts/startup/variables-stack.sh
  test/tests/parallel/set1/spam_virus/rspamd.bats
Labels: kind/new feature, priority/high, area/features, kind/improvement, service/security/rspamd

#3248 Rspamd: replace `reject_unknown_client_hostname` with Rspamd `HFILTER_HOSTNAME_UNKNOWN` and make it configurable
  docs/content/config/environment.md
  docs/content/config/security/rspamd.md
  mailserver.env
  target/postfix/main.cf
  target/rspamd/local.d/hfilter_group.conf
  target/rspamd/local.d/options.inc
  target/scripts/startup/setup.d/security/rspamd.sh
  target/scripts/startup/variables-stack.sh
  test/tests/parallel/set1/spam_virus/rspamd.bats
Labels: kind/new feature, area/features, service/security/rspamd

#3252 tests: fix dovecot: ldap mail delivery works
  test/tests/serial/mail_with_ldap.bats
Labels: area/tests, kind/bug/fix

#3263 scripts: get all `policyd-spf` setup in one place
  target/postfix/main.cf
  target/scripts/startup/setup.d/dmarc_dkim_spf.sh
Labels: area/scripts, kind/improvement, service/security/dkim-dmarc-spf

#3255 Posfix: add option to re-enable `reject_unknown_client_hostname` after #3248
  docs/content/config/environment.md
  mailserver.env
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/postfix.sh
  target/scripts/startup/variables-stack.sh
Labels: service/postfix, area/features

#3258 config-examples: update fail2ban config examples with current DMS default values
  config-examples/fail2ban-fail2ban.cf
  config-examples/fail2ban-jail.cf
Labels: service/security/fail2ban, kind/improvement, area/documentation

#3270 scripts: disallow alias = account
  target/scripts/helpers/database/manage/postfix-accounts.sh
  target/scripts/helpers/database/manage/postfix-virtual.sh
Labels: area/scripts, kind/bug/fix

#3272 postfix.sh: add missing -E for extended regexes in smtpd_sender_restrictions
  target/scripts/startup/setup.d/postfix.sh
Labels: service/postfix, area/scripts, area/configuration (file), kind/bug/fix

#3271 scripts: fix setting `SRS_EXCLUDE_DOMAINS` during startup
  target/scripts/startup/setup.d/postfix.sh
Labels: area/scripts, kind/bug/fix

#3265 scripts: improve shutdown function by making PANIC_STRATEGY obsolete
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/error.sh
  target/scripts/helpers/utils.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/check-stack.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/setup-stack.sh
  target/scripts/startup/setup.d/dovecot.sh
  target/scripts/startup/setup.d/networking.sh
Labels: priority/high, area/scripts, kind/improvement

#3269 misc: make Fail2Ban log persistent
  Dockerfile
Labels: service/security/fail2ban, kind/improvement

#3275 ci: update `bug_report.yml`
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: area/ci, kind/update

#3276 ci: simplify `bug_report.yml`
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: area/ci, kind/improvement

#3266 scripts: remove superfluous `EOF` in `dmarc_dkim_spf.sh`
  target/scripts/startup/setup.d/dmarc_dkim_spf.sh
Labels: area/scripts, kind/bug/fix

#3257 docs: improve Rspamd docs (part of its stabilization)
  docs/content/config/security/rspamd.md
Labels: kind/improvement, area/documentation, service/security/rspamd

#3281 scripts: misc improvements
  target/scripts/startup/setup.d/dmarc_dkim_spf.sh
  target/scripts/startup/setup.d/security/misc.sh
Labels: area/scripts, kind/improvement

#3261 Rspamd: script stabilization pt. 1
  docs/content/config/advanced/optional-config.md
  docs/content/config/security/rspamd.md
  target/scripts/helpers/utils.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  test/tests/parallel/set1/spam_virus/rspamd.bats
  test/tests/parallel/set3/scripts/helper_functions.bats
Labels: kind/new feature, area/scripts, area/features, kind/improvement, service/security/rspamd

#3282 scripts: Rspamd stabilization pt. 2
  docs/content/config/advanced/optional-config.md
  docs/content/config/security/rspamd.md
  target/scripts/startup/setup.d/security/rspamd.sh
  test/config/rspamd/user-patches.sh
  test/config/rspamd_full/postfix-accounts.cf
  test/config/rspamd_full/rspamd/custom-commands.conf
  test/config/rspamd_full/rspamd/override.d/testmodule_complicated.conf
  test/config/rspamd_full/user-patches.sh
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
  test/tests/parallel/set1/spam_virus/rspamd_partly.bats
Labels: area/security, area/scripts, kind/improvement, kind/update, service/security/rspamd

#3283 Rspamd: remove WIP warnings
  docs/content/config/environment.md
  docs/content/config/security/rspamd.md
  target/scripts/startup/setup.d/security/rspamd.sh
Labels: area/documentation, kind/update, service/security/rspamd

#3285 scripts: apply fixes to helpers when using `set -eE`
  target/scripts/helpers/dns.sh
  target/scripts/helpers/error.sh
  target/scripts/helpers/log.sh
  target/scripts/helpers/utils.sh
Labels: kind/new feature, area/scripts, kind/improvement

#3293 docs: update F2B docs & bind mount links
  docs/content/config/security/fail2ban.md
  docs/content/config/security/rspamd.md
  docs/content/faq.md
  docs/content/usage.md
Labels: kind/improvement, area/documentation

#3294 docs: update FAQ entries
  docs/content/config/advanced/optional-config.md
  docs/content/faq.md
Labels: kind/improvement, area/documentation

#2227 ci: revised the contributor workflow
  .github/workflows/contributors.yml
Labels: area/ci, priority/low, kind/improvement

#3290 scripts: remove unnecessary `return 0` statements
  target/scripts/helpers/utils.sh
Labels: area/scripts, kind/improvement
