Repository docker-mailserver/docker-mailserver, pull requests merged in 2023-09, with the labels that each got.

#3505 tests: add tests for helper function `_add_to_or_update_postfix_main()`
  test/tests/parallel/set3/scripts/postconf-helper.bats
Labels: area/tests

#3522 chore: LDAP config improvements
  docs/content/config/environment.md
  mailserver.env
  target/dovecot/dovecot-ldap.conf.ext
  target/postfix/ldap-aliases.cf
  target/postfix/ldap-domains.cf
  target/postfix/ldap-groups.cf
  target/postfix/ldap-senders.cf
  target/postfix/ldap-users.cf
  target/scripts/startup/setup.d/ldap.sh
  target/scripts/startup/setup.d/saslauthd.sh
  target/scripts/startup/variables-stack.sh
  test/tests/serial/mail_with_ldap.bats
Labels: area/scripts, service/ldap, area/configuration (file), kind/update

#3531 docs: fix ipv6 example for Compose
  docs/content/config/advanced/ipv6.md
Labels: area/documentation, kind/bug/fix

#3527 fix: Ensure files are committed with `eol=lf` via `.gitattributes`
  .gitattributes
  .github/ISSUE_TEMPLATE/feature_request.yml
  test/linting/.hadolint.yml
  test/linting/lint.sh
Labels: area/ci, kind/improvement, kind/bug/fix

#3535 fix: Open-DKIM key generation broken
  target/bin/open-dkim
Labels: area/scripts, service/security/rspamd, kind/bug/fix

#3539 Update update-and-cleanup.md
  docs/content/config/advanced/maintenance/update-and-cleanup.md
Labels: kind/improvement, area/documentation

#3553 tests(fix): Run `pgrep` within the actual container
  test/tests/parallel/set3/container_configuration/process_check_restart.bats
Labels: area/tests, service/fetchmail, kind/bug/fix

#3552 tests(fix): `lmtp_ip.bats` improve partial failure output
  test/tests/parallel/set3/mta/lmtp_ip.bats
Labels: service/postfix, area/tests, kind/improvement

#3550 feat: Allow changing the Dovecot vmail UID/GID via ENV
  docs/content/config/environment.md
  mailserver.env
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/utils.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/vmail-id.sh
  target/scripts/startup/variables-stack.sh
  test/tests/serial/vmail-id.bats
Labels: kind/new feature, service/dovecot, area/scripts, area/features, kind/improvement, kind/bug/fix
