Repository docker-mailserver/docker-mailserver, pull requests merged in 2023-05, with the labels that each got.

#3288 F2B: update F2B after discussion in #3256
  config-examples/fail2ban-jail.cf
  docs/content/config/security/fail2ban.md
  target/fail2ban/jail.local
Labels: service/security/fail2ban, kind/update

#3299 fail2ban: add 'log' command
  docs/content/config/security/fail2ban.md
  target/bin/fail2ban
  target/bin/setup
Labels: service/security/fail2ban, kind/improvement

#3305 release: v12.1.0
  CHANGELOG.md
  VERSION
Labels: priority/high, kind/release

#3235 Postfix: rename "smtps" to "submissions"
  docs/content/config/advanced/kubernetes.md
  docs/content/examples/tutorials/mailserver-behind-proxy.md
  target/postfix/master.cf
  target/scripts/helpers/ssl.sh
Labels: service/postfix, area/configuration (file), kind/update

#3318 docs: update Rspamd docs (small improvement)
  docs/content/config/security/rspamd.md
Labels: kind/improvement, area/documentation

#3316 chore(main.cf): Add note advising caution changing `mydestination`
  target/postfix/main.cf
Labels: service/postfix, kind/improvement, area/documentation, area/configuration (file)

#3324 docs: fix spelling mistakes
  docs/content/config/best-practices/dkim_dmarc_spf.md
  docs/content/config/environment.md
  mailserver.env
Labels: area/documentation, kind/bug/fix

#3325 docs: clear up confusion about Rspamd's `override.d` directory
  docs/content/config/security/rspamd.md
Labels: kind/improvement, area/documentation, service/security/rspamd

#3329 docs: improve Rspamd docs about DKIM signing of multiple domains
  docs/content/config/best-practices/dkim_dmarc_spf.md
  target/scripts/startup/setup.d/security/rspamd.sh
Labels: area/scripts, kind/improvement, area/documentation, service/security/rspamd

#3330 Fix "OpenDMARC"
  target/scripts/startup/setup.d/dmarc_dkim_spf.sh
Labels: kind/improvement

#3317 ci: slim down bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/content/contributing/issues-and-pull-requests.md
Labels: area/ci, kind/improvement

#3332 scripts: improve `CLAMAV_MESSAGE_SIZE_LIMIT` usage
  target/rspamd/local.d/antivirus.conf
  target/scripts/startup/setup.d/security/misc.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
  test/tests/parallel/set1/spam_virus/rspamd_partly.bats
Labels: priority/high, area/scripts, service/security/clamav, service/security/rspamd, kind/bug/fix

#3334 Rspamd: adjust learning of ham
  docs/content/config/environment.md
  target/scripts/startup/setup.d/security/rspamd.sh
  test/test-files/nc_templates/rspamd_imap_move_to_inbox.txt
  test/test-files/nc_templates/rspamd_imap_move_to_junk.txt
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
Labels: area/configuration (file), service/security/rspamd, kind/bug/fix

#3337 docs: Fix URL
  docs/content/usage.md
Labels: area/documentation, kind/bug/fix

#3338 docs: Restore missing edit button
  docs/mkdocs.yml
Labels: area/documentation, kind/bug/fix

#3339 docs: Update contributing
  docs/content/contributing/general.md
Labels: kind/improvement, area/documentation

#3331 config: adjust `antivirus.conf` for Rspamd
  target/rspamd/local.d/actions.conf
  target/rspamd/local.d/antivirus.conf
Labels: area/configuration (file), service/security/rspamd, kind/bug/fix

#3341 ClamAV: add a warning for the internal message size limit
  target/scripts/startup/setup.d/security/misc.sh
Labels: area/scripts, service/security/clamav, kind/improvement

#3344 Fix typos
  target/scripts/startup/setup.d/security/misc.sh
Labels: kind/bug/fix

#3335 Dovecot: make home dir distinct from mail dir
  target/dovecot/10-mail.conf
  target/dovecot/auth-master.inc
  target/dovecot/auth-passwdfile.inc
  target/scripts/helpers/accounts.sh
  target/scripts/startup/setup.d/dovecot.sh
  test/tests/parallel/set1/dovecot/dovecot_sieve.bats
Labels: priority/high, service/dovecot, area/scripts, area/configuration (file), kind/bug/fix

#3345 ci: fix scheduled build permissions
  .github/workflows/scheduled_builds.yml
Labels: area/ci, kind/bug/fix

#3359 fix: DB helper should properly filter entries
  target/scripts/helpers/database/db.sh
Labels: area/scripts, kind/bug/fix

#3347 ci: fix ShellCheck linting for BATS tests
  test/linting/lint.sh
  test/tests/parallel/set1/spam_virus/amavis.bats
  test/tests/parallel/set1/spam_virus/postgrey_enabled.bats
  test/tests/parallel/set1/spam_virus/postscreen.bats
  test/tests/parallel/set1/spam_virus/rspamd_dkim.bats
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
  test/tests/parallel/set3/container_configuration/hostname.bats
  test/tests/parallel/set3/container_configuration/process_check_restart.bats
  test/tests/parallel/set3/scripts/helper_functions.bats
  test/tests/serial/test_helper.bats
  test/tests/serial/tests.bats
Labels: area/ci, area/tests, kind/bug/fix

#2803 feature: adding `getmail` as an alternative to `fetchmail`
  Dockerfile
  README.md
  docs/content/config/advanced/mail-getmail.md
  docs/content/config/environment.md
  docs/mkdocs.yml
  mailserver.env
  target/bin/debug-getmail
  target/bin/getmail-cron
  target/getmail/getmailrc
  target/scripts/build/packages.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/getmail.sh
  target/scripts/startup/setup.d/mail_state.sh
  target/scripts/startup/variables-stack.sh
  test/config/getmail/getmail-user3.cf
  test/tests/parallel/set1/getmail.bats
Labels: kind/new feature, area/features

#3369 Add BASH syntax check to linter
  Makefile
  test/linting/lint.sh
Labels: area/tests, kind/improvement

#3372 docs: add note about DMS FQDN
  docs/content/usage.md
Labels: kind/improvement, area/documentation

#3370 misc: remaining v13 todos
  Dockerfile
  docs/content/config/advanced/mail-sieve.md
  docs/content/faq.md
  target/scripts/start-mailserver.sh
Labels: area/scripts, kind/improvement, area/documentation, area/configuration (file), kind/update
