Repository docker-mailserver/docker-mailserver, pull requests merged in 2023-12, with the labels that each got.

#3663 ci: Add `run-local-instance` target to `Makefile`
  CHANGELOG.md
  Makefile
  docs/content/contributing/tests.md
Labels: area/ci, kind/new feature, priority/low

#3680 docs: Troubleshooting - Bare domain misconfiguration
  CHANGELOG.md
  docs/content/config/debugging.md
Labels: service/postfix, kind/improvement, area/documentation

#3681 chore: Postfix should integrate Dovecot at runtime
  CHANGELOG.md
  target/postfix/main.cf
  target/scripts/helpers/aliases.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/postfix.sh
  target/scripts/startup/setup.d/security/spoofing.sh
Labels: area/scripts

#3684 Add warning, when update-check is enabled, but no stable release image is used
  CHANGELOG.md
  target/scripts/start-mailserver.sh
Labels: area/scripts, kind/improvement

#3686 scripts: Install arm64 rspamd from official repository
  CHANGELOG.md
  docs/content/config/security/rspamd.md
  target/scripts/build/packages.sh
Labels: area/features, arch/arm64, kind/update, service/security/rspamd

#3688 update-check: fix 'read' exit status
  CHANGELOG.md
  target/scripts/update-check.sh
Labels: area/scripts, kind/bug/fix

#3693 fix: only set `virtual_mailbox_maps` to texthash when not using LDAP
  target/scripts/startup/setup.d/postfix.sh
Labels: area/scripts, service/ldap, kind/bug/fix

#3703 Add ENV `ENABLE_IMAP`
  CHANGELOG.md
  docs/content/config/environment.md
  mailserver.env
  target/scripts/startup/setup.d/dovecot.sh
  target/scripts/startup/variables-stack.sh
Labels: kind/new feature, service/dovecot, area/scripts

#3068 tests(refactor): Dovecot quotas
  docs/content/config/environment.md
  mailserver.env
  target/bin/setquota
  test/tests/parallel/set1/dovecot/dovecot_quotas.bats
  test/tests/serial/tests.bats
Labels: area/tests, kind/improvement, stale-bot/ignore

#3705 ci: Avoiding linting `CONTRIBUTORS.yml`
  .github/workflows/linting.yml
Labels: area/ci, kind/improvement

#3714 ci: Allow lint workflow to be manually triggered
  .github/workflows/linting.yml
  CHANGELOG.md
Labels: area/ci, kind/improvement, kind/bug/fix

#3711 ci: Remove `VERSION` from `Dockerfile`
  CHANGELOG.md
  Dockerfile
Labels: area/ci, kind/improvement

#3715 Fix sed error, when ENABLE_QUOTAS=0 is set
  CHANGELOG.md
  target/scripts/startup/setup.d/dovecot.sh
Labels: area/scripts, kind/bug/fix

#3718 docs: Debugging - Delivery failure from service downtime
  CHANGELOG.md
  docs/content/config/debugging.md
Labels: kind/improvement, area/documentation

#3724 fix: `supervisor-app.conf` - Correct the log location for `postgrey`
  CHANGELOG.md
  target/supervisor/conf.d/supervisor-app.conf
  test/tests/parallel/set1/spam_virus/postgrey_enabled.bats
Labels: service/security/postgrey, area/scripts, area/configuration (file), kind/bug/fix
