Repository docker-mailserver/docker-mailserver, pull requests merged in 2023-01, with the labels that each got.

#2901 update: make the Dovecot community repository the default
  Dockerfile
Labels: service/dovecot, area/features, kind/update

#2974 tests(fix): `wait_until_change_detection_event_completes` to count
  test/helper/common.bash
  test/test_helper/common.bash
Labels: area/ci, priority/high, area/tests, kind/bugfix

#2975 tests: Use `mail.example.test` as common container hostname
  test/helper/setup.bash
  test/tests/serial/test_helper.bats
Labels: priority/low, area/tests, kind/improvement

#2959 update: bump Fail2Ban version to v1.0.2
  Dockerfile
  target/fail2ban/fail2ban.d/fixes.local
  target/scripts/build/packages.sh
Labels: priority/medium, area/security, service/fail2ban, kind/update

#2958 fix: regex in quota activation code
  target/scripts/startup/setup-stack.sh
Labels: service/dovecot, area/scripts, kind/bugfix

#2902 feature: provide initial Rspamd support
  Dockerfile
  docs/content/config/environment.md
  mailserver.env
  target/rspamd/local.d/disabled/antivirus.conf
  target/rspamd/local.d/logging.inc
  target/rspamd/local.d/options.inc
  target/rspamd/local.d/redis.conf
  target/scripts/build/packages.sh
  target/scripts/helpers/variables.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/misc-stack.sh
  target/scripts/startup/setup-stack.sh
  target/supervisor/conf.d/supervisor-app.conf
Labels: kind/new feature, area/features, service/rspamd

#2980 tests: Extract some test cases out from `tests.bats`
  test/config/dovecot-sieve/before.dovecot.sieve
  test/config/dovecot-sieve/dovecot.sieve
  test/config/dovecot-sieve/sieve-pipe/pipe_to_tmp
  test/config/dovecot-sieve/user2@otherdomain.tld.dovecot.sieve
  test/config/override-configs/dovecot.cf
  test/config/override-configs/postfix-main.cf
  test/config/override-configs/postfix-master.cf
  test/config/sieve/dovecot.sieve
  test/config/smtp-delivery/dovecot.cf
  test/config/smtp-delivery/postfix-main.cf
  test/helper/common.bash
  test/tests/parallel/set1/spam_virus/amavis.bats
  test/tests/parallel/set3/config-overrides.bats
  test/tests/parallel/set3/dovecot-sieve.bats
  test/tests/parallel/set3/smtp-delivery.bats
  test/tests/serial/tests.bats
Labels: area/tests, kind/improvement

#2968 docs: Provision a cert with the ACME DNS-01 challenge via Certbot + Cloudflare
  docs/content/config/security/ssl.md
Labels: kind/improvement, area/documentation

#2667 chore(housekeeping): Cleaning up broken links
  docs/content/config/environment.md
  mailserver.env
Labels: priority/low, kind/improvement, area/documentation

#2989 Add tools (ping & dig) to the image
  target/scripts/build/packages.sh
Labels: area/ci, kind/improvement

#2990 Fix several typos
  CHANGELOG.md
  docs/content/config/advanced/auth-ldap.md
  docs/content/config/advanced/podman.md
  target/fail2ban/fail2ban.d/fixes.local
  target/scripts/helpers/relay.sh
Labels: kind/improvement

#2993 Fix several typos
  docs/content/introduction.md
  target/bin/sedfile
  test/config/dovecot-lmtp/conf.d/90-quota.conf
  test/config/dovecot-lmtp/conf.d/auth-system.conf.ext
  test/tests/serial/mail_lmtp_ip.bats
  test/tests/serial/test_helper.bats
Labels: kind/improvement

#2949 docs: FAQ - Add note for `devnull` alias gotcha when using a catchall rule
  docs/content/faq.md
Labels: priority/low, kind/improvement, area/documentation

#2994 tests(refactor): Adjust `mail_tls_dhparams.bats`
  test/tests/serial/mail_tls_dhparams.bats
Labels: area/tests, kind/improvement

#2998 fix: Workaround `postconf` write settling logic
  target/bin/restrict-access
  target/scripts/check-for-changes.sh
  target/scripts/helpers/aliases.sh
  target/scripts/helpers/utils.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/setup-stack.sh
  test/helper/common.bash
  test/test_helper/common.bash
  test/tests/parallel/set1/spam_virus/postgrey_enabled.bats
  test/tests/serial/mail_smtponly.bats
  test/tests/serial/permit_docker.bats
Labels: priority/high, service/postfix, area/scripts, area/tests, kind/improvement, area/configuration (file), kind/bugfix

#3000 chore: Remove the Makefile `backup` target
  .github/workflows/test_merge_requests.yml
  .gitignore
  Makefile
  test/tests/serial/no_container.bats
Labels: area/tests, kind/improvement

#3004 tests(refactor): `mail_lmtp_ip.bats`
  docs/content/config/advanced/auth-ldap.md
  docs/content/config/environment.md
  mailserver.env
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  test/config/dovecot-lmtp/README
  test/config/dovecot-lmtp/conf.d/10-auth.conf
  test/config/dovecot-lmtp/conf.d/10-director.conf
  test/config/dovecot-lmtp/conf.d/10-logging.conf
  test/config/dovecot-lmtp/conf.d/10-mail.conf
  test/config/dovecot-lmtp/conf.d/10-master.conf
  test/config/dovecot-lmtp/conf.d/10-ssl.conf
  test/config/dovecot-lmtp/conf.d/10-tcpwrapper.conf
  test/config/dovecot-lmtp/conf.d/15-lda.conf
  test/config/dovecot-lmtp/conf.d/15-mailboxes.conf
  test/config/dovecot-lmtp/conf.d/20-imap.conf
  test/config/dovecot-lmtp/conf.d/20-lmtp.conf
  test/config/dovecot-lmtp/conf.d/20-managesieve.conf
  test/config/dovecot-lmtp/conf.d/20-pop3.conf
  test/config/dovecot-lmtp/conf.d/90-acl.conf
  test/config/dovecot-lmtp/conf.d/90-plugin.conf
  test/config/dovecot-lmtp/conf.d/90-quota.conf
  test/config/dovecot-lmtp/conf.d/90-sieve.conf
  test/config/dovecot-lmtp/conf.d/auth-checkpassword.conf.ext
  test/config/dovecot-lmtp/conf.d/auth-deny.conf.ext
  test/config/dovecot-lmtp/conf.d/auth-ldap.conf.ext
  test/config/dovecot-lmtp/conf.d/auth-master.conf.ext
  test/config/dovecot-lmtp/conf.d/auth-passwdfile.conf.ext
  test/config/dovecot-lmtp/conf.d/auth-passwdfile.inc
  test/config/dovecot-lmtp/conf.d/auth-sql.conf.ext
  test/config/dovecot-lmtp/conf.d/auth-static.conf.ext
  test/config/dovecot-lmtp/conf.d/auth-system.conf.ext
  test/config/dovecot-lmtp/conf.d/auth-vpopmail.conf.ext
  test/config/dovecot-lmtp/dovecot-dict-sql.conf.ext
  test/config/dovecot-lmtp/dovecot-ldap.conf.ext
  test/config/dovecot-lmtp/dovecot-sql.conf.ext
  test/config/dovecot-lmtp/dovecot.conf
  test/config/dovecot-lmtp/local.conf
  test/config/dovecot-lmtp/protocols.d/imapd.protocol
  test/config/dovecot-lmtp/protocols.d/lmtpd.protocol
  test/config/dovecot-lmtp/protocols.d/managesieved.protocol.disab
  test/config/dovecot-lmtp/protocols.d/pop3d.protocol.disab
  test/config/dovecot-lmtp/user-patches.sh
  test/tests/parallel/set3/smtp-delivery.bats
  test/tests/serial/mail_hostname.bats
  test/tests/serial/mail_lmtp_ip.bats
Labels: service/dovecot, service/postfix, area/tests, kind/improvement

#3005 Fix SRS link in README.md
  README.md
Labels: area/documentation, kind/update

#2997 tests(refactor): Adjust `mail_changedetector` + change detection helpers
  target/scripts/helpers/lock.sh
  test/helper/change-detection.bash
  test/helper/common.bash
  test/helper/setup.bash
  test/test_helper/common.bash
  test/tests/parallel/set2/tls/tls_letsencrypt.bats
  test/tests/parallel/set3/smtp-delivery.bats
  test/tests/serial/mail_changedetector.bats
  test/tests/serial/setup-cli.bats
  test/tests/serial/test_helper.bats
  test/tests/serial/tests.bats
Labels: area/tests, kind/improvement

#3010 tests(refactor): `mail_fetchmail.bats` + co-locate test cases for processes
  target/supervisor/conf.d/saslauth.conf
  target/supervisor/conf.d/supervisor-app.conf
  test/config/fetchmail.cf
  test/config/fetchmail/fetchmail.cf
  test/helper/common.bash
  test/tests/parallel/set1/spam_virus/clamav.bats
  test/tests/parallel/set1/spam_virus/disabled_clamav_spamassassin.bats
  test/tests/parallel/set1/spam_virus/fail2ban.bats
  test/tests/parallel/set1/spam_virus/postgrey_enabled.bats
  test/tests/parallel/set3/process-check-restart.bats
  test/tests/serial/mail_fetchmail.bats
  test/tests/serial/mail_fetchmail_parallel.bats
  test/tests/serial/mail_smtponly.bats
  test/tests/serial/mail_with_ldap.bats
  test/tests/serial/mail_with_postgrey_disabled_by_default.bats
  test/tests/serial/setup-cli.bats
  test/tests/serial/tests.bats
Labels: priority/medium, area/tests, kind/improvement, area/configuration (file), service/fetchmail

#3012 tests(refactor): Improve consistency and documentation for test helpers
  test/helper/change-detection.bash
  test/helper/common.bash
  test/helper/setup.bash
  test/helper/tls.bash
  test/tests/parallel/set1/default_relay_host.bats
  test/tests/parallel/set1/spam_virus/amavis.bats
  test/tests/parallel/set1/spam_virus/clamav.bats
  test/tests/parallel/set1/spam_virus/disabled_clamav_spamassassin.bats
  test/tests/parallel/set1/spam_virus/dnsbl.bats
  test/tests/parallel/set1/spam_virus/fail2ban.bats
  test/tests/parallel/set1/spam_virus/postgrey_enabled.bats
  test/tests/parallel/set1/spam_virus/postscreen.bats
  test/tests/parallel/set1/spam_virus/spam_bounced.bats
  test/tests/parallel/set1/spam_virus/spam_junk_folder.bats
  test/tests/parallel/set1/spam_virus/undef_spam_subject.bats
  test/tests/parallel/set2/template.bats
  test/tests/parallel/set2/tls/tls_cipherlists.bats
  test/tests/parallel/set2/tls/tls_letsencrypt.bats
  test/tests/parallel/set2/tls/tls_manual.bats
  test/tests/parallel/set3/config-overrides.bats
  test/tests/parallel/set3/dovecot-sieve.bats
  test/tests/parallel/set3/dovecot_inet_protocol.bats
  test/tests/parallel/set3/helper-functions.bats
  test/tests/parallel/set3/process-check-restart.bats
  test/tests/parallel/set3/smtp-delivery.bats
  test/tests/serial/mail_changedetector.bats
  test/tests/serial/mail_fetchmail.bats
  test/tests/serial/mail_lmtp_ip.bats
  test/tests/serial/mail_tls_dhparams.bats
  test/tests/serial/no_container.bats
  test/tests/serial/setup-cli.bats
  test/tests/serial/tests.bats
Labels: area/ci, priority/high, area/scripts, kind/improvement

#3013 chore(Makefile): Ensure targets are always run
  Makefile
Labels: area/scripts, kind/improvement

#3014 tests(refactor): Migrate `mail_privacy.bats` to new format and helpers
  test/tests/serial/mail_privacy.bats
Labels: area/tests, kind/improvement

#3017 docs: clarification of description of explicit TLS
  docs/content/config/security/understanding-the-ports.md
Labels: kind/improvement, area/documentation

#3018 tests: refactor 4 more tests
  test/helper/common.bash
  test/test-files/email-templates/smtp-only.txt
  test/tests/serial/mail_quotas_disabled.bats
  test/tests/serial/mail_smtponly.bats
  test/tests/serial/mail_special_use_folders.bats
  test/tests/serial/mail_time.bats
  test/tests/serial/permit_docker.bats
Labels: area/ci, kind/improvement

#3019 docs: add a dedicated page for tests with more information
  docs/content/contributing/general.md
  docs/content/contributing/tests.md
  docs/content/index.md
  docs/mkdocs.yml
Labels: kind/improvement, area/documentation

#3011 fix: Ensure state persisted to `/var/mail-state` retains correct group
  Dockerfile
  target/scripts/start-mailserver.sh
  target/scripts/startup/fixes-stack.sh
  target/scripts/startup/misc-stack.sh
Labels: area/scripts, service/clamav, kind/bugfix

#3020 quality-of-life: improve the `clean` recipe (don't require `sudo` anymore)
  Makefile
  test/linting/lint.sh
Labels: area/scripts, kind/improvement

#3016 feature: provide better rspamd suppport
  docs/content/config/environment.md
  docs/content/config/security/rspamd.md
  docs/mkdocs.yml
  mailserver.env
  target/postfix/main.cf
  target/rspamd/local.d/actions.conf
  target/rspamd/local.d/antivirus.conf
  target/rspamd/local.d/disabled/antivirus.conf
  target/rspamd/local.d/logging.inc
  target/rspamd/local.d/worker-controller.inc
  target/rspamd/local.d/worker-normal.inc
  target/rspamd/local.d/worker-proxy.inc
  target/scripts/helpers/variables.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/misc-stack.sh
  target/scripts/startup/setup-stack.sh
  target/scripts/update-check.sh
  target/supervisor/conf.d/supervisor-app.conf
  test/test-files/email-templates/rspamd-spam.txt
  test/test-files/email-templates/rspamd-virus.txt
  test/tests/parallel/set1/spam_virus/rspamd.bats
  test/tests/parallel/set3/process-check-restart.bats
Labels: priority/high, area/features, kind/update, service/rspamd

#3025 ci: update & streamline GH Actions runner images
  .github/workflows/contributors.yml
  .github/workflows/docs-preview-deploy.yml
  .github/workflows/docs-preview-prepare.yml
  .github/workflows/docs-production-deploy.yml
  .github/workflows/generic_build.yml
  .github/workflows/generic_publish.yml
  .github/workflows/generic_test.yml
  .github/workflows/handle_stalled.yml
  .github/workflows/linting.yml
Labels: area/ci, kind/update

#3036 tests(refactor): Amavis `spam_junk_folder.bats` + `spam_bounced.bats`
  test/tests/parallel/set1/spam_virus/spam_bounced.bats
  test/tests/parallel/set1/spam_virus/spam_junk_folder.bats
Labels: area/tests, kind/improvement, kind/bugfix, service/amavis

#3032 chore: Remove wrapper script for fail2ban service
  Dockerfile
  target/scripts/build/packages.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/wrapper/fail2ban-wrapper.sh
  target/supervisor/conf.d/supervisor-app.conf
Labels: priority/low, area/security, area/scripts, service/fail2ban, kind/improvement, area/configuration (file)

#3030 chore: Remove package `gamin`
  target/scripts/build/packages.sh
Labels: priority/low, service/dovecot, area/scripts, kind/improvement

#3037 tests: `tls_cipherlists` should configure `testssl.sh` to use CA cert
  test/tests/parallel/set2/tls/tls_cipherlists.bats
Labels: area/security, area/tests, kind/improvement

#3026 test helpers: add functionality for sending emails
  docs/content/contributing/tests.md
  test/helper/common.bash
  test/helper/sending.bash
  test/tests/parallel/set1/spam_virus/rspamd.bats
Labels: kind/new feature, priority/high, area/tests

#3033 chore: Remove the wrapper script for Postfix (and disable chroot in `master.cf`)
  target/postfix/master.cf
  target/scripts/wrapper/postfix-wrapper.sh
  target/supervisor/conf.d/supervisor-app.conf
Labels: priority/low, service/postfix, area/scripts, kind/improvement, area/configuration (file)

#3039 rspamd: follow-up of #3016
  docs/content/config/security/rspamd.md
  target/rspamd/local.d/milter_headers.conf
  target/scripts/startup/misc-stack.sh
  target/scripts/startup/setup-stack.sh
  test/tests/parallel/set1/spam_virus/rspamd.bats
Labels: area/security

#3040 postfix header filter: correct the casing for Mime vs. MIME
  target/postfix/sender_header_filter.pcre
Labels: service/postfix, kind/improvement, area/configuration (file)

#3038 ci: move tests than can be run in parallel now
  test/tests/parallel/set1/config_overrides.bats
  test/tests/parallel/set1/dovecot_inet_protocol.bats
  test/tests/parallel/set1/dovecot_sieve.bats
  test/tests/parallel/set1/fetchmail.bats
  test/tests/parallel/set1/quotas_disabled.bats
  test/tests/parallel/set1/special_use_folders.bats
  test/tests/parallel/set1/tls/dhparams.bats
  test/tests/parallel/set1/tls/letsencrypt.bats
  test/tests/parallel/set1/tls/manual.bats
  test/tests/parallel/set2/tls_cipherlists.bats
  test/tests/parallel/set3/container_configuration/hostname.bats
  test/tests/parallel/set3/container_configuration/process_check_restart.bats
  test/tests/parallel/set3/container_configuration/time.bats
  test/tests/parallel/set3/mta/default_relay_host.bats
  test/tests/parallel/set3/mta/lmtp_ip.bats
  test/tests/parallel/set3/mta/privacy.bats
  test/tests/parallel/set3/mta/smtp_delivery.bats
  test/tests/parallel/set3/mta/smtponly.bats
  test/tests/parallel/set3/scripts/changedetector.bats
  test/tests/parallel/set3/scripts/helper_functions.bats
  test/tests/parallel/set3/scripts/setup_cli.bats
  test/tests/serial/no_container.bats
Labels: area/ci, kind/improvement

#3041 Linting: bump shellcheck version to 0.9.0
  test/linting/lint.sh
Labels: area/ci, kind/update
