Repository docker-mailserver/docker-mailserver, pull requests merged in 2023-10, with the labels that each got.

#3566 ci(fix): Normalize for `.gitattributes` + improve `eclint` coverage
  .editorconfig
  .github/pull_request_template.md
  CHANGELOG.md
  Dockerfile
  docs/content/config/advanced/dovecot-master-accounts.md
  docs/content/config/advanced/ipv6.md
  docs/content/config/advanced/mail-sieve.md
  docs/content/config/security/ssl.md
  docs/content/contributing/tests.md
  docs/content/faq.md
  docs/content/introduction.md
  target/amavis/conf.d/60-dms_default_config
  target/bin/open-dkim
  target/postgrey/postgrey.init
  test/config/example-opendkim/keys/localhost.localdomain/mail.txt
  test/config/example-opendkim/keys/otherdomain.tld/mail.txt
  test/config/fetchmail/fetchmail.cf
  test/config/ldap/openldap/schemas/postfix-book.ldif
  test/config/override-configs/postfix-main.cf
  test/config/override-configs/postfix-master.cf
  test/config/postfix-regexp.cf
  test/config/postfix-virtual.cf
  test/config/templates/dovecot-masters.cf
  test/config/templates/postfix-accounts.cf
  test/linting/.ecrc.json
  test/tests/parallel/set1/spam_virus/amavis.bats
  test/tests/serial/mail_with_ldap.bats
Labels: area/ci, priority/high, service/security/postgrey, area/tests, area/configuration (file), kind/bug/fix

#3568 docs: TLS - Include `passthrough=true` on implicit ports for Traefik example
  docs/content/examples/tutorials/mailserver-behind-proxy.md
Labels: area/documentation, area/networking

#3576 refactor: `logrotate` setup + rspamd log path + tests log helper fallback path
  docs/content/config/security/rspamd.md
  target/scripts/startup/setup.d/log.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  target/supervisor/conf.d/supervisor-app.conf
  test/helper/common.bash
Labels: kind/improvement, area/documentation, service/security/rspamd

#3578 chore: Add debug group (`packages.sh`) + more resilient rspamd setup
  target/scripts/build/packages.sh
  target/scripts/helpers/utils.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  test/tests/parallel/set3/scripts/helper_functions.bats
Labels: area/scripts, kind/improvement

#3583 docs: Revise `watchtower` page
  docs/content/config/advanced/maintenance/update-and-cleanup.md
Labels: kind/improvement, area/documentation

#3584 ci: Update `eclint` to `2.7.2`
  test/linting/.ecrc.json
  test/linting/lint.sh
  test/test-files/email-templates/send-privacy-email.txt
  test/test-files/ssl/example.test/README.md
Labels: area/ci, kind/improvement, kind/bug/fix

#3572 feat: Postfix permit DSN (Delivery Status Notification) only on authenticated ports (465 + 587)
  CHANGELOG.md
  target/postfix/main.cf
  target/postfix/master.cf
  test/config/dsn/postfix-main.cf
  test/config/dsn/postfix-master.cf
  test/test-files/email-templates/dsn-authenticated.txt
  test/test-files/email-templates/dsn-unauthenticated.txt
  test/tests/parallel/set3/mta/dsn.bats
Labels: priority/high, priority/medium, service/postfix, area/security, kind/improvement, area/configuration (file)

#3597 bugfix: change Rspamd DKIM default config location
  target/bin/rspamd-dkim
  target/scripts/startup/setup.d/security/rspamd.sh
  test/tests/parallel/set1/spam_virus/rspamd_dkim.bats
Labels: area/scripts, service/security/rspamd, kind/bug/fix

#3600 docs(bin/setup): Add an example for an alias with multiple recipients
  target/bin/addalias
Labels: kind/improvement, area/documentation

#3599 misc: final Rspamd adjustments for v13
  CHANGELOG.md
  docs/content/config/security/rspamd.md
  target/bin/rspamd-dkim
  target/scripts/check-for-changes.sh
  target/scripts/helpers/change-detection.sh
  target/scripts/helpers/index.sh
  target/scripts/helpers/rspamd.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  test/tests/parallel/set1/spam_virus/rspamd_dkim.bats
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
Labels: area/scripts, kind/improvement, kind/update, service/security/rspamd
