Repository docker-mailserver/docker-mailserver, pull requests merged in 2023-03, with the labels that each got.

#3132 scripts/ENV: make disabling Redis possible
  docs/content/config/environment.md
  mailserver.env
  target/rspamd/local.d/redis.conf
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  target/scripts/startup/variables-stack.sh
Labels: area/scripts, area/configuration (file), service/rspamd

#3129 scripts: issue warning in case of improper restart
  docs/content/usage.md
  target/scripts/start-mailserver.sh
  target/scripts/startup/check-stack.sh
Labels: area/scripts, kind/improvement

#3128 scripts: remove PostSRSD wrapper
  Dockerfile
  target/scripts/startup/setup.d/postfix.sh
  target/scripts/startup/variables-stack.sh
  target/scripts/wrapper/postsrsd-wrapper.sh
  target/supervisor/conf.d/supervisor-app.conf
Labels: service/postfix, area/scripts, kind/improvement

#3142 ci(fix): Only apply permissions at the job level
  .github/workflows/generic_vulnerability-scan.yml
Labels: area/ci, area/security, kind/bugfix

#3127 config/ENV: improve Postfix config for spoof protection
  docs/content/config/advanced/kubernetes.md
  docs/content/config/environment.md
  mailserver.env
  target/postfix/main.cf
  target/postfix/master.cf
  target/scripts/startup/setup.d/security/spoofing.sh
Labels: priority/high, service/postfix, area/configuration (file), kind/update

#3134 fix: Avoid creating an unnecessary syslog socket for Postfix
  target/postfix/master.cf
  target/scripts/build/packages.sh
Labels: service/postfix, area/tests, area/configuration (file), kind/bugfix

#3131 config: ensure SASL socket file is not inside a volume mount
  Dockerfile
  target/dovecot/10-master.conf
  target/dovecot/lmtp-master.inc
  target/postfix/main.cf
  target/postfix/master.cf
  target/scripts/startup/setup-stack.sh
  test/config/dovecot-lmtp/user-patches.sh
Labels: service/dovecot, service/postfix, area/configuration (file), kind/bugfix

#3143 rspamd: rename `ENABLE_REDIS` & add persistence for Redis
  docs/content/config/environment.md
  mailserver.env
  target/scripts/start-mailserver.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/setup.d/mail_state.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  target/scripts/startup/variables-stack.sh
  target/supervisor/conf.d/supervisor-app.conf
  test/tests/parallel/set1/spam_virus/rspamd.bats
Labels: area/configuration (file), kind/update, service/rspamd

#3144 scripts: touchups for v12.0.0
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  target/scripts/startup/setup.d/log.sh
  target/scripts/startup/setup.d/mail_state.sh
  target/scripts/startup/setup.d/security/misc.sh
Labels: area/scripts, kind/improvement

#3147 docs: improve Rspamd docs
  docs/content/config/security/rspamd.md
Labels: kind/improvement, area/documentation, service/rspamd

#3149 bugfix: special bits for maildrop and public directory
  target/scripts/startup/setup.d/mail_state.sh
Labels: priority/high, service/postfix, area/scripts, kind/bugfix

#3153 DRY: Replace path with variable in mail_state.sh
  target/scripts/startup/setup.d/mail_state.sh
Labels: area/scripts, kind/improvement

#3157 fix: regression introduced in #3153
  target/scripts/startup/setup.d/mail_state.sh
Labels: priority/high, area/scripts, kind/bugfix

#3155 scripts: improve panic helpers
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/dns.sh
  target/scripts/helpers/error.sh
  target/scripts/helpers/ssl.sh
  target/scripts/helpers/utils.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/check-stack.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/setup-stack.sh
  target/scripts/startup/setup.d/dovecot.sh
  target/scripts/startup/setup.d/networking.sh
Labels: area/scripts, kind/improvement, kind/bugfix

#3158 fix: SRS setup
  Dockerfile
  target/scripts/build/packages.sh
  target/scripts/startup/setup.d/mail_state.sh
  target/scripts/startup/setup.d/postfix.sh
Labels: priority/high, area/scripts, kind/bugfix

#3160 fix: postsrsd restart loop
  target/supervisor/conf.d/supervisor-app.conf
Labels: priority/high, area/scripts, kind/bugfix

#3159 Rspamd: more features
  Dockerfile
  docs/content/config/environment.md
  docs/content/config/security/rspamd.md
  target/dovecot/90-sieve.conf
  target/dovecot/sieve/before/60-spam.sieve
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/dovecot.sh
  target/scripts/startup/setup.d/security/misc.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  target/scripts/startup/variables-stack.sh
  test/config/rspamd/postfix-accounts.cf
  test/config/rspamd/user-patches.sh
  test/test-files/email-templates/rspamd-pass.txt
  test/test-files/email-templates/rspamd-spam-header.txt
  test/test-files/email-templates/rspamd-spam.txt
  test/test-files/email-templates/rspamd-virus.txt
  test/test-files/nc_templates/rspamd_imap_move_to_inbox.txt
  test/test-files/nc_templates/rspamd_imap_move_to_junk.txt
  test/tests/parallel/set1/dovecot/dovecot_sieve.bats
  test/tests/parallel/set1/spam_virus/rspamd.bats
Labels: kind/new feature, area/features, service/rspamd

#3183 Add update to `latest` symlink on `gh-pages` to docs-production-deploy workflow
  .github/workflows/docs-production-deploy.yml
Labels: area/ci, kind/improvement, area/documentation

#3182 ci(docs): Add `latest` version to `versions.json`
  versions.json
Labels: area/ci, kind/improvement, area/documentation, area/configuration (file)

#3192 docs: Add FAQ entry for troubleshooting delivery
  docs/content/faq.md
Labels: kind/improvement, area/documentation

#3193 docs: move `make build` instruction from paragraph into list
  docs/content/contributing/tests.md
Labels: area/tests, kind/improvement, area/documentation

#3190 docs: Change `edge` version links to `latest` + fix links intended as relative not absolute
  .github/workflows/docs-production-deploy.yml
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/content/config/advanced/podman.md
  docs/content/contributing/issues-and-pull-requests.md
  docs/content/examples/tutorials/basic-installation.md
  docs/content/faq.md
  docs/content/index.md
  docs/content/usage.md
  mailserver.env
Labels: area/ci, kind/improvement, area/documentation

#3203 Fix: only chmod when there are files
  target/scripts/startup/setup.d/dovecot.sh
Labels: area/scripts, kind/bugfix

#3204 Update SA_KILL values; follow up to #3058
  docs/content/config/environment.md
  target/scripts/startup/variables-stack.sh
  test/tests/parallel/set1/spam_virus/amavis.bats
Labels: area/scripts, kind/improvement, area/documentation

#3208 config: remove `chroot` for Dovecot & PostSRSd
  target/dovecot/10-master.conf
  target/dovecot/chroot.inc
  target/postsrsd/postsrsd
Labels: service/dovecot, area/configuration (file), kind/update
