Repository docker-mailserver/docker-mailserver, pull requests merged in 2023-02, with the labels that each got.

#3050 tests: Reduce time taken by a third for testing cipher suites
  test/tests/parallel/set2/tls_cipherlists.bats
Labels: area/tests, kind/improvement

#3051 tests: Migrate Dovecot DBox tests (sdbox + mdbox)
  test/helper/common.bash
  test/tests/parallel/set1/dovecot/dovecot_sieve.bats
  test/tests/parallel/set1/dovecot/mailbox_format_dbox.bats
  test/tests/parallel/set1/dovecot/quotas_disabled.bats
  test/tests/parallel/set1/dovecot/special_use_folders.bats
  test/tests/serial/mail_with_mdbox.bats
  test/tests/serial/mail_with_sdbox.bats
Labels: service/dovecot, area/tests, kind/improvement

#3052 tests: Migrate and combine ENV tests for `*_INET_PROTOCOLS`
  test/tests/parallel/set1/dovecot_inet_protocol.bats
  test/tests/parallel/set1/network_inet_protocols.bats
  test/tests/serial/mail_postfix_inet.bats
Labels: service/dovecot, service/postfix, area/tests, kind/improvement

#3046 chore(Amavis): only add configuration to Postfix when enabled
  Dockerfile
  target/amavis/postfix-amavis.cf
  target/postfix/master.cf
  target/scripts/startup/setup-stack.sh
Labels: kind/improvement, area/configuration (file), service/amavis

#3055 tests(refactor): Extract mail account management tests from `tests.bats`
  test/helper/common.bash
  test/tests/parallel/set3/mta/account_management.bats
  test/tests/serial/tests.bats
Labels: area/tests, kind/improvement

#3057 fix: Only listen on `127.0.0.1` for the Dovecot `quota-status` service
  target/dovecot/90-quota.conf
Labels: service/dovecot, kind/improvement, area/configuration (file)

#3065 ci: remove CI ENV & disable fail-fast
  .github/workflows/generic_test.yml
Labels: area/ci, kind/improvement

#3062 tests: refactor POP3, IMAP (actually SASLauthd + RIMAP) & relay
  test/helper/common.bash
  test/tests/parallel/set1/spam_virus/amavis.bats
  test/tests/serial/mail_pop3.bats
  test/tests/serial/mail_with_imap.bats
  test/tests/serial/mail_with_relays.bats
  test/tests/serial/no_container.bats
Labels: area/ci, kind/improvement

#3058 Better default value for SA_KILL variable
  mailserver.env
Labels: kind/improvement, service/spamassassin

#3072 ci(fix): Temporarily avoid specifying `provenance`
  .github/workflows/generic_test.yml
Labels: area/ci, priority/high, kind/bugfix

#3060 tests(refactor): `open_dkim.bats`
  target/scripts/startup/setup-stack.sh
  test/config/example-opendkim/KeyTable
  test/config/example-opendkim/SigningTable
  test/config/example-opendkim/TrustedHosts
  test/config/example-opendkim/keys/localhost.localdomain/mail.private
  test/config/example-opendkim/keys/localhost.localdomain/mail.txt
  test/config/example-opendkim/keys/otherdomain.tld/mail.private
  test/config/example-opendkim/keys/otherdomain.tld/mail.txt
  test/helper/common.bash
  test/helper/setup.bash
  test/tests/parallel/set1/dovecot/mailbox_format_dbox.bats
  test/tests/parallel/set1/dovecot/special_use_folders.bats
  test/tests/parallel/set3/mta/account_management.bats
  test/tests/serial/open_dkim.bats
Labels: area/tests, kind/improvement, service/dkim-dmarc

#3077 Fix: Make logrotate state persistant
  target/scripts/startup/misc-stack.sh
Labels: kind/bugfix, service/logrotate

#3080 improve bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: kind/improvement

#3069 chore(Postfix): disable DNSBLs
  docs/content/config/environment.md
  docs/content/config/security/rspamd.md
  mailserver.env
  target/postfix/main.cf
  target/scripts/startup/setup-stack.sh
  test/tests/parallel/set1/spam_virus/dnsbl.bats
  test/tests/parallel/set1/spam_virus/postgrey_enabled.bats
Labels: service/postfix, kind/improvement, area/configuration (file)

#3082 fix: order of DKIM/DMARC milters matters
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/bugfix

#3064 chore: Remove delay starting the change detection service
  target/scripts/check-for-changes.sh
  target/scripts/start-mailserver.sh
  test/helper/common.bash
  test/tests/parallel/set3/mta/smtp_delivery.bats
Labels: area/scripts, kind/improvement

#3081 fix: add information to Logwatch's mailer so `Envelope From` is properly set
  target/scripts/startup/setup-stack.sh
Labels: area/configuration (file), kind/bugfix

#3067 fix: `restrict-access` avoid inserting duplicates
  target/bin/restrict-access
Labels: area/scripts, kind/bugfix

#3079 setup: improve Amavis setup routine
  target/postfix/main.cf
  target/scripts/startup/setup-stack.sh
  test/tests/parallel/set1/spam_virus/amavis.bats
Labels: area/scripts, kind/improvement, area/configuration (file), service/amavis

#3059 rspamd: add feature for adjusting options with a file parsed by DMS
  README.md
  docs/content/config/advanced/optional-config.md
  docs/content/config/security/rspamd.md
  target/postfix/main.cf
  target/scripts/build/packages.sh
  target/scripts/helpers/setup-rspamd.sh
  target/scripts/startup/setup-stack.sh
  test/config/rspamd-modules.conf
  test/helper/sending.bash
  test/tests/parallel/set1/spam_virus/rspamd.bats
Labels: kind/new feature, area/scripts, area/configuration (file), service/rspamd

#3097 completely refactor README & parts of docs
  README.md
  docs/content/examples/tutorials/basic-installation.md
  docs/content/faq.md
  docs/content/index.md
  docs/content/usage.md
  docs/mkdocs.yml
Labels: kind/improvement, area/documentation

#3103 ci: refactored `sedfile` & used `_send_mail` where possible
  test/helper/sending.bash
  test/tests/parallel/set1/dovecot/dovecot_sieve.bats
  test/tests/parallel/set1/dovecot/special_use_folders.bats
  test/tests/parallel/set1/spam_virus/clamav.bats
  test/tests/parallel/set1/spam_virus/disabled_clamav_spamassassin.bats
  test/tests/parallel/set1/spam_virus/spam_junk_folder.bats
  test/tests/parallel/set3/container_configuration/hostname.bats
  test/tests/parallel/set3/mta/lmtp_ip.bats
  test/tests/parallel/set3/mta/smtp_delivery.bats
  test/tests/parallel/set3/mta/smtponly.bats
  test/tests/serial/sedfile.bats
Labels: area/tests, kind/improvement

#3104 docs: add docs about Abusix integration into Rspamd
  README.md
  docs/content/config/security/rspamd.md
Labels: kind/improvement, area/documentation

#3106 ci/docs: add vulnerability scanning workflow & security policy
  .github/workflows/generic_vulnerability-scan.yml
  .github/workflows/scheduled_builds.yml
  SECURITY.md
Labels: area/ci, kind/new feature, area/security

#3006 config: disable SMTP authentication on port 25
  target/postfix/main.cf
  test/test-files/email-templates/postscreen.txt
  test/tests/parallel/set1/spam_virus/fail2ban.bats
  test/tests/parallel/set1/spam_virus/postscreen.bats
  test/tests/parallel/set3/mta/smtp_delivery.bats
  test/tests/serial/mail_with_imap.bats
  test/tests/serial/mail_with_ldap.bats
  test/tests/serial/tests.bats
Labels: priority/low, service/postfix, area/security, area/tests, kind/improvement, area/configuration (file)

#3105 tests: improve `_send_email`
  test/helper/common.bash
  test/helper/sending.bash
  test/tests/parallel/set1/dovecot/dovecot_sieve.bats
  test/tests/parallel/set1/dovecot/mailbox_format_dbox.bats
  test/tests/parallel/set1/dovecot/special_use_folders.bats
  test/tests/parallel/set1/spam_virus/amavis.bats
  test/tests/parallel/set1/spam_virus/clamav.bats
  test/tests/parallel/set1/spam_virus/disabled_clamav_spamassassin.bats
  test/tests/parallel/set1/spam_virus/fail2ban.bats
  test/tests/parallel/set1/spam_virus/postscreen.bats
  test/tests/parallel/set1/spam_virus/rspamd.bats
  test/tests/parallel/set1/spam_virus/spam_junk_folder.bats
  test/tests/parallel/set3/container_configuration/hostname.bats
  test/tests/parallel/set3/mta/lmtp_ip.bats
  test/tests/parallel/set3/mta/smtp_delivery.bats
  test/tests/parallel/set3/mta/smtponly.bats
  test/tests/serial/mail_pop3.bats
  test/tests/serial/mail_with_imap.bats
  test/tests/serial/tests.bats
Labels: area/scripts, area/tests, kind/improvement, pr/waiting for other PR to get merged

#3118 fix: Postfix service should proxy signals received
  target/supervisor/conf.d/supervisor-app.conf
Labels: service/postfix, area/configuration (file), kind/bugfix

#3115 scripts: split `setup-stack.sh`
  Dockerfile
  target/bin/debug-fetchmail
  target/scripts/helpers/dhparams.sh
  target/scripts/helpers/index.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  target/scripts/startup/setup.d/dmarc_dkim_spf.sh
  target/scripts/startup/setup.d/dovecot.sh
  target/scripts/startup/setup.d/fetchmail.sh
  target/scripts/startup/setup.d/ldap.sh
  target/scripts/startup/setup.d/log.sh
  target/scripts/startup/setup.d/networking.sh
  target/scripts/startup/setup.d/postfix.sh
  target/scripts/startup/setup.d/saslauthd.sh
  target/scripts/startup/setup.d/security/misc.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  target/scripts/startup/variables-stack.sh
  test/tests/parallel/set1/spam_virus/rspamd.bats
Labels: area/scripts, kind/improvement

#3121 scripts: housekeeping & cleanup setup (1/2)
  target/scripts/start-mailserver.sh
  target/scripts/startup/check-stack.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/fixes-stack.sh
  target/scripts/startup/setup-stack.sh
  target/scripts/startup/setup.d/dmarc_dkim_spf.sh
  target/scripts/startup/setup.d/mail_state.sh
  target/scripts/startup/setup.d/security/misc.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  target/scripts/startup/setup.d/security/spoofing.sh
  target/scripts/startup/variables-stack.sh
Labels: area/scripts, kind/improvement

#3124 scripts: follow up of #3115 (feedback)
  target/scripts/helpers/dhparams.sh
  target/scripts/helpers/index.sh
  target/scripts/helpers/ssl.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#3123 scripts: housekeeping & cleanup setup (2/2)
  target/bin/debug-fetchmail
  target/scripts/start-mailserver.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/setup-stack.sh
  target/scripts/startup/setup.d/dovecot.sh
  target/scripts/startup/setup.d/fetchmail.sh
  target/scripts/startup/setup.d/postfix.sh
  target/scripts/startup/variables-stack.sh
Labels: area/scripts, kind/improvement
