Repository docker-mailserver/docker-mailserver, pull requests merged in 2024-05, with the labels that each got.

#3997 fix(`accounts.sh`): Sync user home location for alias workaround
  CHANGELOG.md
  target/scripts/helpers/accounts.sh
Labels: service/dovecot, area/scripts, kind/bug/fix

#3999 docs(FAQ): Add advice for restricting login by IP
  docs/content/faq.md
Labels: area/documentation

#3880 fix: `postfix-main.cf` may depend upon `postfix-master.cf`
  CHANGELOG.md
  target/scripts/startup/setup.d/postfix.sh
  test/config/override-configs/postfix-main.cf
  test/config/override-configs/postfix-master.cf
  test/tests/parallel/set1/config_overrides.bats
Labels: service/postfix, area/scripts, area/configuration (file), stale-bot/ignore, kind/bug/fix

#4003 Update typo in kubernetes.md
  docs/content/config/advanced/kubernetes.md
Labels: area/documentation, kind/bug/fix

#4012 chore(logwatch): Add `ignore.conf` to ignore logs from Dovecot `index-worker`
  CHANGELOG.md
  Dockerfile
  target/logwatch/ignore.conf
Labels: service/dovecot, kind/improvement

#4020 linting: update `.ecrc.json` to exclude `CONTRIBUTORS.md`
  test/linting/.ecrc.json
Labels: area/ci, kind/bug/fix

#4019 docs: Add tip for disabling the default SPF service
  docs/content/config/best-practices/dkim_dmarc_spf.md
Labels: kind/improvement, area/documentation

#4018 fix: `/var/mail-state` should not symlink non-existing directories
  CHANGELOG.md
  target/bin/debug-fetchmail
  target/bin/debug-getmail
  target/bin/getmail-cron
  target/scripts/startup/setup.d/getmail.sh
  target/scripts/startup/setup.d/mail_state.sh
Labels: area/scripts, kind/bug/fix

#4023 docs(rspamd): Add guidance for setting WebUI password
  docs/content/config/security/rspamd.md
Labels: kind/improvement, area/documentation, service/security/rspamd

#4034 update: Dovecot FTS Xapian from 1.5.5 to 1.7.12
  CHANGELOG.md
  Dockerfile
  target/scripts/build/compile.sh
Labels: service/dovecot, kind/update

#4033 scripts: perform additional checks when updating/adding/deletting accounts
  CHANGELOG.md
  target/scripts/helpers/database/manage/postfix-accounts.sh
  test/tests/parallel/set3/mta/account_management.bats
Labels: area/scripts, kind/bug/fix

#4039 docs(k8s): Advise `externalTrafficPolicy: Local` if no PROXY protocol configured
  docs/content/config/advanced/kubernetes.md
Labels: area/documentation, orchestrator/kubernetes

#4035 scripts: update log format
  CHANGELOG.md
  target/scripts/check-for-changes.sh
  target/scripts/helpers/log.sh
  target/scripts/update-check.sh
  test/tests/parallel/set1/spam_virus/rspamd_partly.bats
  test/tests/parallel/set1/tls/dhparams.bats
Labels: area/scripts, kind/update
