Repository docker-mailserver/docker-mailserver, pull requests merged in 2024-03, with the labels that each got.

#3915 Fail2Ban: Align logrotate count & interval
  CHANGELOG.md
  target/scripts/startup/setup.d/security/misc.sh
Labels: area/scripts, kind/improvement

#3913 Rspamd: improve SPF, DKIM and DMARC Symbol Weights
  CHANGELOG.md
  docs/content/config/security/rspamd.md
  target/rspamd/scores.d/policies_group.conf
Labels: priority/high, kind/improvement, area/configuration (file), service/security/rspamd, kind/bug/fix

#3919 Fail2ban logrotate interval/count: substitute only when necessary
  CHANGELOG.md
  target/scripts/startup/setup.d/security/misc.sh
Labels: area/scripts, kind/bug/fix

#3921 docs(TLS): Reference systemd timer example (`cerbot renew`)
  docs/content/config/security/ssl.md
Labels: kind/improvement, area/documentation

#3923 Rspamd: minor tweaks and follow-up for SPF, DKIM and DMARC symbols
  CHANGELOG.md
  Dockerfile
  target/rspamd/local.d/composites.conf
  target/rspamd/local.d/policies_group.conf
Labels: area/configuration (file), service/security/rspamd

#3927 Rspamd: update history key in Redis configuration
  CHANGELOG.md
  target/scripts/startup/setup.d/security/rspamd.sh
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
Labels: kind/improvement, area/configuration (file), service/security/rspamd

#3925 fix: Move spam to mailbox associated to the `\Junk` special-use attribute (#3918)
  CHANGELOG.md
  docs/content/config/environment.md
  target/dovecot/90-sieve.conf
  target/scripts/startup/setup.d/security/misc.sh
  test/config/junk-mailbox/user-patches.sh
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
  test/tests/parallel/set1/spam_virus/spam_junk_folder.bats
Labels: service/dovecot, area/features, kind/improvement, area/documentation

#3920 getmail: remove temp file usage
  target/scripts/startup/setup.d/getmail.sh
  target/scripts/startup/setup.d/security/rspamd.sh
Labels: area/scripts, kind/improvement

#3937 docs: Update links for account management in `README.md`
  README.md
Labels: area/documentation, kind/bug/fix

#3929 Better support regular container restarts
  CHANGELOG.md
  target/scripts/start-mailserver.sh
  target/scripts/startup/check-stack.sh
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/improvement

#3943 Enable spamassassin only, when amavis is enabled too.
  CHANGELOG.md
  target/scripts/startup/setup.d/security/misc.sh
Labels: area/scripts, kind/bug/fix

#3958 docs: add Gmail SMTP Guide in email forwarding for documentation
  docs/content/config/advanced/mail-forwarding/gmail-smtp.md
  docs/mkdocs.yml
Labels: service/postfix, area/documentation

#3964 docs: add note about custom F2B setup with PROXY protocol
  docs/content/config/advanced/kubernetes.md
Labels: kind/improvement, area/documentation, orchestrator/kubernetes

#3966 docs: add FAQ entry about DNS servers and drop feature request on custom DNS servers for Rspamd
  docs/content/config/security/rspamd.md
  docs/content/faq.md
Labels: kind/improvement, area/documentation
