Repository docker-mailserver/docker-mailserver, pull requests merged in 2024-08, with the labels that each got.

#4147 fix: Prevent `stderr` being written to `/etc/postfix/main.cf`
  CHANGELOG.md
  target/scripts/startup/setup.d/postfix.sh
Labels: service/postfix, area/scripts, kind/bug/fix

#4146 fix: Ensure main log file is tailed from the start
  CHANGELOG.md
  target/scripts/start-mailserver.sh
Labels: area/scripts, kind/bug/fix

#4156 breaking: Refactor `getmail` support
  CHANGELOG.md
  Dockerfile
  config-examples/getmail/getmailrc_general.cf
  config-examples/getmail/imap-example.cf
  config-examples/getmail/pop3-example.cf
  docs/content/config/advanced/mail-getmail.md
  docs/content/config/environment.md
  mailserver.env
  target/bin/debug-getmail
  target/bin/getmail-cron
  target/getmail/getmail-service.sh
  target/getmail/getmailrc_general
  target/scripts/start-mailserver.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/setup.d/getmail.sh
  target/scripts/startup/setup.d/mail_state.sh
  target/supervisor/conf.d/dms-services.conf
  test/config/getmail/user3.cf
  test/tests/parallel/set1/getmail.bats
  test/tests/parallel/set3/container_configuration/process_check_restart.bats
Labels: area/scripts, kind/improvement, area/documentation, service/getmail

#4160 chore(Dockerfile): COPY ClamAV database from debian images
  Dockerfile
Labels: area/ci, service/security/clamav, kind/improvement

#4161 chore: Add comments to `start-mailserver.sh` and stop using `inherit_errexit`
  CHANGELOG.md
  target/scripts/start-mailserver.sh
Labels: area/scripts, kind/improvement
