Repository docker-mailserver/docker-mailserver, pull requests merged in 2024-01, with the labels that each got.

#3727 security(Postfix): Protect against "SMTP Smuggling" attack
  CHANGELOG.md
  target/postfix/main.cf
Labels: priority/high, service/postfix, area/security, pr/waiting for other PR to get merged

#3746 release: v13.2.0
  CHANGELOG.md
  VERSION
Labels: priority/high, kind/release

#3726 Rspamd: add custom symbol scores for SPF, DKIM & DMARC
  CHANGELOG.md
  Dockerfile
  target/rspamd/local.d/actions.conf
  target/rspamd/scores.d/policies_group.conf
Labels: kind/update, service/security/rspamd

#3750 chore: Disable `smtputf8` support in config directly
  CHANGELOG.md
  target/postfix/main.cf
  target/scripts/startup/setup.d/postfix.sh
  test/tests/parallel/set3/mta/smtp_delivery.bats
Labels: service/postfix, area/tests, kind/improvement, area/configuration (file)

#3752 tests: Replace `wc -l` with `grep -c`
  CHANGELOG.md
  test/tests/parallel/set1/spam_virus/clamav.bats
  test/tests/parallel/set3/scripts/setup_cli.bats
  test/tests/serial/tests.bats
Labels: area/tests, kind/improvement

#3755 ci: `.gitattributes` - Ensure `eol=lf` for shell scripts
  .gitattributes
  CHANGELOG.md
Labels: area/ci, kind/bug/fix

#3756 docs: SpamAssassin ENV docs refactor
  CHANGELOG.md
  Dockerfile
  README.md
  docs/content/config/advanced/optional-config.md
  docs/content/config/environment.md
  docs/content/faq.md
  docs/content/index.md
  docs/mkdocs.yml
  mailserver.env
  target/scripts/startup/setup.d/security/misc.sh
Labels: area/scripts, kind/improvement, area/documentation, service/security/spamassassin

#3766 Fix jaq: Download platform specific binary
  CHANGELOG.md
  target/scripts/build/packages.sh
Labels: kind/bug/fix

#3747 tests: normalizations
  CHANGELOG.md
  target/scripts/build/packages.sh
  test/files/emails/existing/added.txt
  test/files/emails/existing/alias-external.txt
  test/files/emails/existing/alias-local.txt
  test/files/emails/existing/alias-recipient-delimiter.txt
  test/files/emails/existing/catchall-local.txt
  test/files/emails/existing/regexp-alias-external.txt
  test/files/emails/existing/regexp-alias-local.txt
  test/files/emails/existing/user-and-cc-local-alias.txt
  test/files/emails/existing/user1.txt
  test/files/emails/non-existing-user.txt
  test/files/emails/rspamd/pass.txt
  test/files/emails/rspamd/spam-header.txt
  test/files/emails/rspamd/spam.txt
  test/files/emails/rspamd/virus.txt
  test/helper/common.bash
  test/helper/sending.bash
  test/tests/parallel/set1/dovecot/dovecot_quotas.bats
  test/tests/parallel/set1/dovecot/dovecot_sieve.bats
  test/tests/parallel/set1/dovecot/mailbox_format_dbox.bats
  test/tests/parallel/set1/dovecot/special_use_folders.bats
  test/tests/parallel/set1/spam_virus/clamav.bats
  test/tests/parallel/set1/spam_virus/disabled_clamav_spamassassin.bats
  test/tests/parallel/set1/spam_virus/fail2ban.bats
  test/tests/parallel/set1/spam_virus/postgrey_enabled.bats
  test/tests/parallel/set1/spam_virus/postscreen.bats
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
  test/tests/parallel/set1/spam_virus/spam_junk_folder.bats
  test/tests/parallel/set3/container_configuration/hostname.bats
  test/tests/parallel/set3/mta/dsn.bats
  test/tests/parallel/set3/mta/lmtp_ip.bats
  test/tests/parallel/set3/mta/privacy.bats
  test/tests/parallel/set3/mta/smtp_delivery.bats
  test/tests/serial/mail_pop3.bats
  test/tests/serial/mail_with_imap.bats
  test/tests/serial/mail_with_ldap.bats
  test/tests/serial/tests.bats
  test/tests/serial/vmail-id.bats
Labels: area/tests, kind/improvement, kind/update

#3480 feat: Auth - OAuth2 (Dovecot PassDB)
  .gitignore
  CHANGELOG.md
  Dockerfile
  README.md
  docs/content/config/advanced/auth-oauth2.md
  docs/content/config/environment.md
  docs/mkdocs.yml
  mailserver.env
  target/dovecot/10-auth.conf
  target/dovecot/auth-oauth2.conf.ext
  target/dovecot/dovecot-oauth2.conf.ext
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/oauth2.sh
  target/scripts/startup/variables-stack.sh
  test/config/oauth2/provider.py
  test/files/auth/imap-oauth2-auth.txt
  test/tests/serial/mail_with_oauth2.bats
Labels: kind/new feature, area/scripts, area/tests, area/features, area/documentation

#3775 Tiny #3480 follow up: Add missing ENABLE_OAUTH2 var
  target/scripts/startup/variables-stack.sh
Labels: kind/improvement

#3592 feat: Add MTA-STS support for outbound mail
  CHANGELOG.md
  Dockerfile
  docs/content/config/best-practices/mta-sts.md
  docs/content/config/environment.md
  docs/mkdocs.yml
  mailserver.env
  target/mta-sts-daemon/mta-sts-daemon.yml
  target/scripts/build/packages.sh
  target/scripts/start-mailserver.sh
  target/scripts/startup/daemons-stack.sh
  target/scripts/startup/setup.d/mail_state.sh
  target/scripts/startup/setup.d/mta-sts.sh
  target/supervisor/conf.d/supervisor-app.conf
  test/tests/parallel/set3/container_configuration/process_check_restart.bats
Labels: kind/new feature, service/postfix, area/security, area/features, area/networking

#3772 tests: small adjustments
  CHANGELOG.md
  test/files/emails/amavis/spam.txt
  test/helper/sending.bash
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
  test/tests/parallel/set1/spam_virus/spam_junk_folder.bats
  test/tests/parallel/set3/mta/smtp_delivery.bats
Labels: area/tests, kind/improvement

#3767 fix: Revert quoting `SA_SPAM_SUBJECT` in `mailserver.env`
  mailserver.env
Labels: area/configuration (file), kind/bug/fix

#3702 docs: Rspamd DKIM config simplify via `path` setting
  docs/content/config/best-practices/dkim_dmarc_spf.md
Labels: kind/improvement, area/documentation, service/security/dkim-dmarc-spf, service/security/rspamd

#3779 fix: Ensure `.svbin` files are newer than `.sieve` source files
  CHANGELOG.md
  target/scripts/startup/setup-stack.sh
Labels: service/dovecot, area/scripts, kind/bug/fix

#3773 docs: misc improvements
  .github/workflows/scripts/docs/build-docs.sh
  CHANGELOG.md
  docs/content/config/advanced/auth-ldap.md
  docs/content/config/advanced/ipv6.md
  docs/content/config/advanced/optional-config.md
  docs/content/config/advanced/podman.md
  docs/content/config/debugging.md
  docs/content/config/environment.md
  docs/content/config/security/rspamd.md
  docs/content/examples/use-cases/imap-folders.md
  docs/content/faq.md
  docs/content/index.md
  docs/mkdocs.yml
Labels: kind/improvement, area/documentation

#3789 chore: Add maintenance comment for `sed` usage
  target/scripts/startup/setup.d/security/misc.sh
Labels: area/scripts, kind/improvement

#3780 tests: Revise `process_check_restart.bats`
  CHANGELOG.md
  test/tests/parallel/set3/container_configuration/process_check_restart.bats
Labels: area/tests

#3783 fix: Ensure `setup dkim` generates DKIM keys with ownership matching the parent directory
  CHANGELOG.md
  target/bin/open-dkim
Labels: kind/improvement, meta/feature freeze, service/security/dkim-dmarc-spf

#3465 docs: Guidance for binding outbound SMTP with multiple interfaces available
  CHANGELOG.md
  docs/content/examples/use-cases/bind-smtp-network-interface.md
  docs/mkdocs.yml
Labels: service/postfix, kind/improvement, area/documentation, service/security/amavis, area/networking

#3793 docs: Add maintenance comment for `main.cf:reject_unknown_sender_domain`
  target/postfix/main.cf
Labels: service/postfix, area/documentation

#3795 tests: Revise OAuth2 tests
  CHANGELOG.md
  test/config/oauth2/Caddyfile
  test/config/oauth2/compose.yaml
  test/config/oauth2/provider.py
  test/files/auth/imap-oauth2-auth.txt
  test/files/auth/imap-oauth2-oauthbearer.txt
  test/files/auth/imap-oauth2-xoauth2.txt
  test/tests/serial/mail_with_oauth2.bats
Labels: service/dovecot, area/tests, kind/improvement

#3781 release: v13.3
  CHANGELOG.md
  VERSION
Labels: priority/high, kind/release

#3813 fix: Ensure correct ownership for the Rspamd DKIM directory
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, service/security/dkim-dmarc-spf, service/security/rspamd, kind/bug/fix

#3812 fix: Correctly support multiple Dovecot PassDBs
  CHANGELOG.md
  target/dovecot/auth-ldap.conf.ext
  target/dovecot/auth-oauth2.conf.ext
  target/dovecot/auth-passwdfile.inc
  test/config/oauth2/Caddyfile
  test/files/auth/imap-oauth2-oauthbearer.txt
  test/files/auth/imap-oauth2-xoauth2.txt
  test/tests/serial/mail_with_oauth2.bats
Labels: service/dovecot, area/tests, service/security/fail2ban, area/configuration (file), kind/bug/fix

#3811 docs: Minor revisions to Dovecot Sieve page
  docs/content/config/advanced/mail-sieve.md
Labels: service/dovecot, kind/improvement, area/documentation

#3818 chore: Raise awareness of v13 breaking change better (Proxy Protocol)
  CHANGELOG.md
Labels: service/postfix, kind/improvement, area/documentation, area/networking

#3817 release: v13.3.1
  CHANGELOG.md
  VERSION
Labels: priority/high, kind/release

#3403 general: update base image to Debian 12 ("Bookworm")
  CHANGELOG.md
  Dockerfile
  target/bin/debug-getmail
  target/bin/getmail-cron
  target/postfix/main.cf
  target/scripts/build/compile.sh
  target/scripts/build/packages.sh
  target/scripts/check-for-changes.sh
  target/scripts/startup/setup.d/security/misc.sh
  target/supervisor/conf.d/supervisor-app.conf
  test/tests/parallel/set1/getmail.bats
  test/tests/parallel/set1/spam_virus/amavis.bats
  test/tests/parallel/set1/spam_virus/disabled_clamav_spamassassin.bats
  test/tests/parallel/set1/spam_virus/postgrey_enabled.bats
  test/tests/parallel/set1/spam_virus/rspamd_dkim.bats
  test/tests/parallel/set3/container_configuration/process_check_restart.bats
  test/tests/serial/mail_with_oauth2.bats
  test/tests/serial/open_dkim.bats
Labels: priority/high, kind/update

#3786 tests: new sending and filtering functions
  CHANGELOG.md
  test/helper/common.bash
  test/helper/log_and_filtering.bash
  test/helper/sending.bash
  test/tests/parallel/set1/spam_virus/clamav.bats
  test/tests/parallel/set1/spam_virus/disabled_clamav_spamassassin.bats
  test/tests/parallel/set1/spam_virus/postscreen.bats
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
  test/tests/parallel/set3/mta/dsn.bats
  test/tests/parallel/set3/mta/smtp_delivery.bats
  test/tests/serial/mail_pop3.bats
  test/tests/serial/mail_with_oauth2.bats
  test/tests/serial/tests.bats
  test/tests/serial/vmail-id.bats
Labels: area/tests, kind/improvement

#3823 docs(fix): New external link icon workaround for mkdocs-material 9.5.5
  docs/content/assets/css/customizations.css
  docs/mkdocs.yml
Labels: area/documentation, kind/bug/fix

#3826 chore: Revise improper restart message
  target/scripts/startup/check-stack.sh
Labels: kind/improvement, area/documentation

#3819 fix: Ensure configs are sanitized for parsing
  CHANGELOG.md
  target/scripts/helpers/accounts.sh
  target/scripts/helpers/aliases.sh
  target/scripts/helpers/utils.sh
  target/scripts/startup/setup.d/postfix.sh
  test/helper/setup.bash
  test/tests/parallel/set3/scripts/helper_functions.bats
Labels: service/postfix, area/scripts, area/tests, area/configuration (file)

#3835 docs: UX Improvement - Better distinguish side nav page categories
  docs/content/assets/css/customizations.css
Labels: kind/improvement, area/documentation

#3834 docs: Add context to `sender-cleanup` in Postfix `master.cf`
  target/postfix/master.cf
Labels: service/postfix, area/documentation

#3837 Rspamd: only declare Rspamd variables when not already declared
  CHANGELOG.md
  target/scripts/helpers/rspamd.sh
Labels: area/scripts, kind/improvement, service/security/rspamd

#3838 ci: `docs-preview-deploy.yml` - Use official v4 `download-artifact`
  .github/workflows/docs-preview-deploy.yml
Labels: area/ci, kind/improvement, area/documentation

#3839 docs: Minor revisions to `README.md`
  README.md
Labels: kind/improvement, area/documentation

#3841 docs: Add Debian 12 breaking change for `opendmarc` package
  CHANGELOG.md
Labels: area/security, kind/improvement, area/documentation, service/security/dkim-dmarc-spf

#3843 ci(fix): `docs-preview-deploy.yml` - Use the correct setting names
  .github/workflows/docs-preview-deploy.yml
Labels: area/ci, area/documentation, kind/bug/fix

#3840 docs: Remove ENV `ONE_DIR`
  CHANGELOG.md
  docs/content/config/advanced/kubernetes.md
  docs/content/config/advanced/optional-config.md
  docs/content/config/best-practices/dkim_dmarc_spf.md
  docs/content/config/environment.md
  docs/content/config/security/fail2ban.md
  docs/content/config/security/rspamd.md
  docs/content/config/security/ssl.md
  docs/content/examples/tutorials/mailserver-behind-proxy.md
  docs/content/faq.md
  docs/content/usage.md
  mailserver.env
  target/scripts/startup/setup.d/mail_state.sh
  target/scripts/startup/setup.d/security/rspamd.sh
  target/scripts/startup/variables-stack.sh
Labels: area/scripts, kind/improvement, area/documentation

#3820 spam: use Sieve for rewriting subject with Rspamd & SA/Amavis
  CHANGELOG.md
  docs/content/config/environment.md
  docs/content/config/security/rspamd.md
  mailserver.env
  target/rspamd/local.d/actions.conf
  target/scripts/start-mailserver.sh
  target/scripts/startup/check-stack.sh
  target/scripts/startup/setup.d/security/misc.sh
  target/scripts/startup/variables-stack.sh
  test/helper/common.bash
  test/tests/parallel/set1/spam_virus/amavis.bats
  test/tests/parallel/set1/spam_virus/rspamd_dkim.bats
  test/tests/parallel/set1/spam_virus/rspamd_full.bats
  test/tests/parallel/set1/spam_virus/rspamd_partly.bats
  test/tests/parallel/set1/spam_virus/spam_junk_folder.bats
  test/tests/parallel/set1/spam_virus/undef_spam_subject.bats
Labels: kind/update, service/security/rspamd

#3849 Rspamd scripts: only correct permissions when directory exists
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, service/security/rspamd, kind/bug/fix

#3852 fix: `packages.sh` - Download `jaq` via release `tag` not `latest`
  target/scripts/build/packages.sh
Labels: area/ci, area/scripts, kind/bug/fix

#3853 fix: abort when (jaq) curl fails
  target/scripts/build/packages.sh
Labels: area/scripts, kind/improvement, kind/bug/fix

#3856 docs: Add new local dependency (`file`) for running tests
  docs/content/contributing/tests.md
  target/postfix/main.cf
Labels: area/tests, kind/improvement, area/documentation

#3845 refactor: `relay.sh`
  CHANGELOG.md
  docs/content/config/environment.md
  mailserver.env
  target/scripts/check-for-changes.sh
  target/scripts/helpers/postfix.sh
  target/scripts/helpers/relay.sh
Labels: service/postfix, area/scripts, area/features, kind/improvement, kind/bug/fix

#3854 chore: `CHANGELOG.md` - Add `rsyslog` breaking changes for v14
  CHANGELOG.md
Labels: kind/improvement, area/documentation

#3862 fix(rspamd): Add missing comma to `local_networks` setting
  CHANGELOG.md
  target/rspamd/local.d/options.inc
Labels: area/configuration (file), service/security/rspamd, kind/bug/fix
