Repository docker-mailserver/docker-mailserver, pull requests merged in 2025-02, with the labels that each got.

#4328 docs: add ARC example to Rspamd documentation
  docs/content/config/security/rspamd.md
Labels: kind/improvement, area/documentation, service/security/rspamd

#4330 docs: `bind-smtp-network-interface.md` - Add bridge network config advice
  docs/content/examples/use-cases/bind-smtp-network-interface.md
Labels: kind/improvement, area/documentation, area/networking

#4346 Add missing "setup debug getmail" command and documentation
  CHANGELOG.md
  docs/content/config/advanced/mail-getmail.md
  target/bin/setup
Labels: kind/new feature, area/scripts, service/getmail

#4347 chore: `demo-setups/relay-compose.yaml` should use network alias
  demo-setups/relay-compose.yaml
Labels: area/documentation

#4323 fix: Better support container restarts
  CHANGELOG.md
  target/scripts/start-mailserver.sh
  target/scripts/startup/check-stack.sh
  target/scripts/startup/setup-stack.sh
  target/scripts/startup/setup.d/mail_state.sh
  target/scripts/startup/variables-stack.sh
Labels: area/scripts, kind/improvement

#4350 chore: Migrate dovecot config from Dockerfile
  Dockerfile
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup.d/dovecot.sh
Labels: service/dovecot, area/scripts, kind/improvement

#4357 chore: `packages.sh` - Bump versions + housekeeping
  CHANGELOG.md
  target/scripts/build/compile.sh
  target/scripts/build/packages.sh
Labels: service/dovecot, area/scripts, area/features, kind/update

#4368 ci: Upgrade `mkdocs-material` to 9.6
  .github/workflows/scripts/docs/build-docs.sh
Labels: area/ci, kind/improvement, area/documentation, kind/bug/fix

#4366 docs: Fix broken ref links
  docs/content/config/best-practices/dkim_dmarc_spf.md
  docs/content/config/debugging.md
  docs/content/contributing/general.md
Labels: area/documentation, kind/bug/fix

#4365 Make deletion of mailbox data opt-in
  CHANGELOG.md
  target/bin/delmailuser
Labels: area/scripts, kind/improvement

#4360 docs: Revise Rspamd page
  docs/content/config/security/rspamd.md
Labels: kind/improvement, area/documentation, service/security/rspamd

#4372 fix: revert `__declare_readonly` overcomplication
  target/scripts/startup/setup.d/mail_state.sh
  target/scripts/startup/variables-stack.sh
Labels: priority/medium, area/scripts, kind/improvement

#4374 fix: Ensure `/var/log/mail` permissions + ownership are correct
  CHANGELOG.md
  target/scripts/start-mailserver.sh
  target/scripts/startup/setup-stack.sh
  target/scripts/startup/setup.d/log.sh
  target/scripts/startup/setup.d/security/misc.sh
Labels: area/scripts, kind/improvement, kind/bug/fix

#4384 docs(rspamd): Fix Web UI link
  docs/content/config/security/rspamd.md
Labels: area/documentation, kind/bug/fix
