Repository docker-mailserver/docker-mailserver, pull requests merged in 2025-03, with the labels that each got.

#4373 release: v15.0.0
  CHANGELOG.md
  demo-setups/fetchmail-compose.yaml
  demo-setups/relay-compose.yaml
  docs/content/config/advanced/mail-forwarding/relay-hosts.md
  docs/content/config/security/rspamd.md
  docs/content/examples/tutorials/dovecot-solr.md
  target/scripts/helpers/rspamd.sh
Labels: priority/high, kind/release

#4379 fix: `setup email restrict` configs should only prepend once
  target/postfix/main.cf
  target/scripts/startup/setup.d/postfix.sh
Labels: area/scripts, kind/bug/fix

#4391 fix: Support `chmod` on `/var/log/mail/*` when dir is empty
  CHANGELOG.md
  target/scripts/startup/setup-stack.sh
Labels: area/scripts, kind/bug/fix

#4376 chore: Revise utility install scripts + add Smallstep `step` CLI
  CHANGELOG.md
  target/scripts/build/packages.sh
Labels: kind/new feature, area/scripts

#4399 fix: `postfix-receive-access.cf` should prepend to `smtpd_recipient_restrictions`
  target/scripts/startup/setup.d/postfix.sh
Labels: service/postfix, area/scripts, kind/bug/fix

#4402 docs: Fail2Ban - Add example with required ENV to enable
  docs/content/config/security/fail2ban.md
Labels: kind/improvement, area/documentation

#4415 docs: Update Dovecot link in `mailserver.env`
  mailserver.env
Labels: area/documentation

#4417 fix: `start-mailserver.sh` requires `mail_state.sh` to be sourced on restarts
  target/scripts/start-mailserver.sh
Labels: area/scripts, kind/bug/fix

#4418 fix: include all files in change detection of Rspamd
  CHANGELOG.md
  target/scripts/helpers/change-detection.sh
Labels: area/scripts, kind/improvement, area/configuration (file), service/security/rspamd

#4423 release: v15.0.1
  CHANGELOG.md
Labels: priority/high, kind/release

#4429 fix: ensure message content is not modified by header filter
  CHANGELOG.md
  target/postfix/sender_header_filter.pcre
  test/tests/parallel/set3/container_configuration/hostname.bats
Labels: priority/high, service/postfix, area/configuration (file), kind/bug/fix

#4432 release: v15.0.2
  CHANGELOG.md
Labels: priority/high, kind/release

#4433 docs: Dovecot Solr - Add compatibility note
  docs/content/examples/tutorials/dovecot-solr.md
Labels: service/dovecot, area/documentation, kind/update

#4375 refactor: setup CLI `open-dkim`
  CHANGELOG.md
  target/bin/open-dkim
  target/scripts/helpers/error.sh
  target/scripts/helpers/log.sh
  target/scripts/helpers/utils.sh
  target/scripts/startup/setup.d/dmarc_dkim_spf.sh
  test/helper/common.bash
  test/helper/setup.bash
  test/tests/serial/open_dkim.bats
Labels: area/scripts, kind/improvement, service/security/dkim-dmarc-spf
