Repository docker-mailserver/docker-mailserver, pull requests merged in 2025-04, with the labels that each got.

#4451 docs: Contributing (tests) - Link to guidance for `TEST_TMP_CONFIG`
  docs/content/contributing/tests.md
Labels: area/tests, area/documentation

#4450 feat: Configurable poll rate for `check-for-changes.sh`
  CHANGELOG.md
  docs/content/config/environment.md
  target/scripts/check-for-changes.sh
  target/scripts/startup/variables-stack.sh
Labels: area/scripts, kind/improvement, area/documentation

#4454 tests: Reference the new `testssl` image location
  docs/content/config/security/ssl.md
  test/tests/parallel/set2/tls_cipherlists.bats
Labels: area/tests, area/documentation

#4453 fix: `setup email list` should only work with `ACCOUNT_PROVISIONER=FILE`
  CHANGELOG.md
  docs/content/config/environment.md
  target/bin/listmailuser
  target/scripts/startup/variables-stack.sh
Labels: service/dovecot, area/scripts, kind/improvement
